MQ_TRUSTSTORE=./ssl/clienttruststore
MQ_KEYSTORE=./ssl/clientkeystore
MQ_KEYSTORE_PWD=changeit

PRO_CLIENT_PORT=9999
OMS_CLIENT_PORT=9998
MIX_PRO_CLIENT_PORT=9994
MIX_OMS_CLIENT_PORT=9995
MONITOR_PORT=12041
CLIENT_TIMEOUT=60000

TRS_IP_ADDRESS=127.0.0.1
IP_BINDING=false

HOSTS_COUNT=1

#Host 1 settings
Host1_SERVER_ID=TRS01
Host1_IP_ADDRESS=<%= @private_ip %>
#Middleware types can be JMS, FIX, MQ or SOCKET
#Host1_MIDDLEWARE=MQ
Host1_MIDDLEWARE=JMS
#Host1_MIDDLEWARE_PORT=1414
Host1_MIDDLEWARE_PORT=1099
#Host1_EJB_CLIENT_PROVIDER_URL=iiop://127.0.0.1:2809
Host1_EJB_CLIENT_PROVIDER_URL=jnp://<%= @private_ip %>:1099
Host1_INITIAL_CONTEXT_FACTORY=org.jnp.interfaces.NamingContextFactory
#Host1_INITIAL_CONTEXT_FACTORY=com.ibm.websphere.naming.WsnInitialContextFactory
Host1_URL_PKG_PREFIXES=java.naming.factory.url.pkgs
#Host1_URL_PKG_PREFIXES=java.naming.corba.orb
Host1_URL_PKG_PREFIXES_VALUE=org.jboss.naming:org.jnp.interfaces
#Host1_URL_PKG_PREFIXES_VALUE=org.omg.CORBA.ORB.init((String[])null,null)
Host1_REQ_QUEUE_NAME=FromTRS
Host1_RES_QUEUE_NAME=TRS01_RSPON
# for TMS Manager uncomment this line and comment above response queue
#Host1_RES_QUEUE_NAME=ToTMSManager
#Host 2 settings
Host2_SERVER_ID=TRS02
Host2_IP_ADDRESS=192.168.20.214
#Middleware types can be JMS, FIX, MQ or SOCKET
Host2_MIDDLEWARE=MQ
Host2_MIDDLEWARE_PORT=1414
Host2_EJB_CLIENT_PROVIDER_URL=iiop://127.0.0.1:2809
Host2_INITIAL_CONTEXT_FACTORY=com.ibm.websphere.naming.WsnInitialContextFactory
Host2_URL_PKG_PREFIXES=java.naming.corba.orb
Host2_URL_PKG_PREFIXES_VALUE=org.omg.CORBA.ORB.init((String[])null,null)
Host2_REQ_QUEUE_NAME=FromTRS
Host2_RES_QUEUE_NAME=TRS02_RSPON

#if the middleware is fix
FIX_PROTOCOL=FIX42.xml

#for the purpose for use both sun and ibm JDKs. define JDK_TYPE=sun for Sun JDK and JDK_TYPE=ibm for IBM JDK
JDK_TYPE=sun

QUEUE_MANAGER_NAME=QM1
CHANNEL_NAME=CLIENT.TO.QM1
INQUIRY_QUEUE_NAME=INQUIRY
TIME_OUT_QUEUE_NAME=EXPIRED_QUEUE
SSL_ENABLED=false

MAX_MESSAGE_LIMIT=100000
MAXIMUM_ALLOWABLE_THREADS=200
MAXIMUM_CONNECTIONS_PER_THREAD=10
MAX_NO_OF_FRAMES_READ_IN_ONE_TRY=2
MAX_NO_OF_FRAMES_SEND_IN_ONE_TRY=5
MAX_SLEEP_IN_READWRITE_THREADS=50
MAX_NO_OF_CLIENTS_PER_SEC=400

BINDING_ENABLED=false
MBS_ENABLED=false
GUI_ENABLED=false
RETRY_INTERVAL=10000
SERVER_SWITCH_DELAY=10000
RMI_ENABLE=TRUE
MONITORING_ENABLE=false
DEBUG_ENABLE=true
SEND_ORD_ACKNOWLEDGEMENT=false

# static log manager settings
ENABLE_LOG_FILE_MANAGER=true
LOG_ADMIN_MESSAGES=true
LOG_RMI_MESSAGES=true
LOG_CLIENT_INPUT_ORDERS=true
LOG_ALL_INCOMING_MSGS=true



DB_TYPE=Oracle
DB_CLASS=oracle.jdbc.OracleDriver

#For TMS, AMS this is the OMS DB URL
#DB_URL=jdbc:oracle:thin:@192.168.0.21:1521:XE
DB_URL=jdbc:oracle:thin:@10.1.200.101:1521:OMSBO
DB_USER=VUpGEBIFNp+0EPUbCwj+iw==
DB_PASSWORD=Dz8rUw5pJngH3PO8ra3BPw==
DB_CON_POOL_SIZE=100

IS_MINA_ENABLED=true
IO_HANDLERS_COUNT=8

QUEUE_MSG_LIMIT=5000
INQUIRY_MSG_LIMIT=10000

OUTPUT_ENCODING_CLIENT=default
OUTPUT_ENCODING_DT=windows-1252
OUTPUT_ENCODING_OMS_CLIENT=utf-8
OUTPUT_ENCODING_OTHER=default

MQ_ENCODING=utf-8

#RMI timeout: Default = 0ms
RMI_TIMEOUT=0

#RMI Inquiry Retry: Default=2
INQUIRY_RETRY_COUNT=2

#Order Search Request Skipping
ENABLE_REQUEST_SKIP=false
ORDER_SEARCH_PAGE_SIZE=50
REQUEST_SKIP_PERIOD=1

#message counter
MESSAGE_COUNTING = false
MESSAGE_COUNTING_WRITE_INTERVAL = 30000

#Egypt CRL download
EGYPT_CRL_DOWNLOAD_URL=http://mpkicrl.egypttrust.com/EgyptTrustC1/LatestCRL.crl
IS_DOWNLOAD_CRL =false;
#This must be a location in the machine where Jboss running and same location should set at M48
CRL_DOWNLOAD_LOCATION =/home/mubasher/app/oms/jboss-4.0.4.GA

#DB infor for TRS level customer download file creations
DB_URL=jdbc:oracle:thin:@172.18.31.81:1521:MFSUAT
DB_USER=VUpGEBIFNp+0EPUbCwj+iw==
DB_PASSWORD=Dz8rUw5pJngH3PO8ra3BPw==
ENABLE_INVESTOR_ACCOUNT=0
