#!/bin/bash
NOHUP=/usr/bin/nohup

#title = MIX-TRS_DFNTRS_MFG_X-2.12.9.0

CLASSPATH=:./lib/TRS.jar
CLASSPATH=$CLASSPATH:./lib/backport-util-concurrent-3.0.jar
CLASSPATH=$CLASSPATH:./lib/base.jar
CLASSPATH=$CLASSPATH:./lib/bootstrap.jar
CLASSPATH=$CLASSPATH:./lib/c3p0-oracle-thin-extras-0.9.1.2.jar
CLASSPATH=$CLASSPATH:./lib/classes.zip
CLASSPATH=$CLASSPATH:./lib/classloader.jar
CLASSPATH=$CLASSPATH:./lib/client.jar
CLASSPATH=$CLASSPATH:./lib/collector.jar
CLASSPATH=$CLASSPATH:./lib/com.ibm.mq.jar
CLASSPATH=$CLASSPATH:./lib/core.jar
CLASSPATH=$CLASSPATH:./lib/coregroup.bridge.admin.jar
CLASSPATH=$CLASSPATH:./lib/coregroupbridge.jar
CLASSPATH=$CLASSPATH:./lib/cryptohandler-1.01.jar
CLASSPATH=$CLASSPATH:./lib/eablib.jar
CLASSPATH=$CLASSPATH:./lib/ecutils.jar
CLASSPATH=$CLASSPATH:./lib/emf.jar
CLASSPATH=$CLASSPATH:./lib/epm.jar
CLASSPATH=$CLASSPATH:./lib/ffdc.jar
CLASSPATH=$CLASSPATH:./lib/i18nctx.jar
CLASSPATH=$CLASSPATH:./lib/ibmcertpathprovider.jar
CLASSPATH=$CLASSPATH:./lib/ibmjaasactivelm.jar
CLASSPATH=$CLASSPATH:./lib/ibmjaaslm.jar
CLASSPATH=$CLASSPATH:./lib/ibmjcefips.jar
CLASSPATH=$CLASSPATH:./lib/ibmjcefw.jar
CLASSPATH=$CLASSPATH:./lib/ibmjceprovider.jar
CLASSPATH=$CLASSPATH:./lib/ibmjgssprovider.jar
CLASSPATH=$CLASSPATH:./lib/ibmjssefips.jar
CLASSPATH=$CLASSPATH:./lib/ibmjsseprovider.jar
CLASSPATH=$CLASSPATH:./lib/ibmjsseprovider2.jar
CLASSPATH=$CLASSPATH:./lib/ibmorb.jar
CLASSPATH=$CLASSPATH:./lib/ibmorbapi.jar
CLASSPATH=$CLASSPATH:./lib/ibmpkcs.jar
CLASSPATH=$CLASSPATH:./lib/ibmpkcs11.jar
CLASSPATH=$CLASSPATH:./lib/ibmpkcs11impl.jar
CLASSPATH=$CLASSPATH:./lib/ibmspnego.jar
CLASSPATH=$CLASSPATH:./lib/idl.jar
CLASSPATH=$CLASSPATH:./lib/ISIUtils.zip
CLASSPATH=$CLASSPATH:./lib/iwsorb.jar
CLASSPATH=$CLASSPATH:./lib/iwsorbutil.jar
CLASSPATH=$CLASSPATH:./lib/j2ee.jar
CLASSPATH=$CLASSPATH:./lib/jaaslogin.jar
CLASSPATH=$CLASSPATH:./lib/jaccess.jar
CLASSPATH=$CLASSPATH:./lib/jboss6/jbossall-client.jar
#CLASSPATH=$CLASSPATH:./lib/jboss-common-client.jar
CLASSPATH=$CLASSPATH:./lib/jboss-j2ee.jar
CLASSPATH=$CLASSPATH:./lib/jgl3.1.0.jar
CLASSPATH=$CLASSPATH:./lib/jnp-client.jar
CLASSPATH=$CLASSPATH:./lib/jre-ext.rar
CLASSPATH=$CLASSPATH:./lib/jrom.jar
CLASSPATH=$CLASSPATH:./lib/jtaPrivate.jar
CLASSPATH=$CLASSPATH:./lib/ldapsec.jar
CLASSPATH=$CLASSPATH:./lib/lmproxy.jar
CLASSPATH=$CLASSPATH:./lib/log4j-1.2.9.jar
CLASSPATH=$CLASSPATH:./lib/management.jar
CLASSPATH=$CLASSPATH:./lib/marshall.jar
CLASSPATH=$CLASSPATH:./lib/messaging.jar
CLASSPATH=$CLASSPATH:./lib/messagingClient.jar
CLASSPATH=$CLASSPATH:./lib/messagingImpl.jar
CLASSPATH=$CLASSPATH:./lib/mina-core-2.0.7.jar
CLASSPATH=$CLASSPATH:./lib/naming.jar
CLASSPATH=$CLASSPATH:./lib/namingclient.jar
CLASSPATH=$CLASSPATH:./lib/ojdbc14.jar
CLASSPATH=$CLASSPATH:./lib/oldcertpath.jar
CLASSPATH=$CLASSPATH:./lib/optional.jar
CLASSPATH=$CLASSPATH:./lib/processintf.jar
CLASSPATH=$CLASSPATH:./lib/querymd.jar
CLASSPATH=$CLASSPATH:./lib/quickfixj-core.jar
CLASSPATH=$CLASSPATH:./lib/quickfixj-msg-fix43.jar
CLASSPATH=$CLASSPATH:./lib/quickfixj-msg-fix44.jar
CLASSPATH=$CLASSPATH:./lib/quickfixj-msg-fix40.jar
CLASSPATH=$CLASSPATH:./lib/quickfixj-msg-fix41.jar
CLASSPATH=$CLASSPATH:./lib/quickfixj-msg-fix42.jar
CLASSPATH=$CLASSPATH:./lib/ras.jar
CLASSPATH=$CLASSPATH:./lib/rmm-pgm.jar
CLASSPATH=$CLASSPATH:./lib/runtime-utils.jar
CLASSPATH=$CLASSPATH:./lib/runtime.jar
CLASSPATH=$CLASSPATH:./lib/runtimefw.jar
CLASSPATH=$CLASSPATH:./lib/runtimeimpl.jar
CLASSPATH=$CLASSPATH:./lib/sas.jar
CLASSPATH=$CLASSPATH:./lib/sdrt.jar
CLASSPATH=$CLASSPATH:./lib/security.jar
CLASSPATH=$CLASSPATH:./lib/securityimpl.jar
CLASSPATH=$CLASSPATH:./lib/server.jar
CLASSPATH=$CLASSPATH:./lib/slf4j-api-1.3.0.jar
CLASSPATH=$CLASSPATH:./lib/slf4j-jdk14-1.3.0.jar
CLASSPATH=$CLASSPATH:./lib/sljc.jar
CLASSPATH=$CLASSPATH:./lib/standard.jar
CLASSPATH=$CLASSPATH:./lib/startupbean.jar
CLASSPATH=$CLASSPATH:./lib/sunjce_provider.jar
CLASSPATH=$CLASSPATH:./lib/sunmscapi.jar
CLASSPATH=$CLASSPATH:./lib/sunpkcs11.jar
CLASSPATH=$CLASSPATH:./lib/tpvengine.jar
CLASSPATH=$CLASSPATH:./lib/trs-DFNTRS_MFG_X-2.12.9.0.jar
CLASSPATH=$CLASSPATH:./lib/txRecoveryUtils.jar
CLASSPATH=$CLASSPATH:./lib/util.jar
CLASSPATH=$CLASSPATH:./lib/utils.jar
CLASSPATH=$CLASSPATH:./lib/was-wssecurity.jar
CLASSPATH=$CLASSPATH:./lib/wasjmx.jar
CLASSPATH=$CLASSPATH:./lib/wasx.jar
CLASSPATH=$CLASSPATH:./lib/wsexception.jar
CLASSPATH=$CLASSPATH:./lib/xml.jar
CLASSPATH=$CLASSPATH:./lib/jboss6/concurrent.jar
CLASSPATH=$CLASSPATH:./lib/jboss6/netty.jar
CLASSPATH=$CLASSPATH:./lib/jboss6/hornetq-core-client.jar
CLASSPATH=$CLASSPATH:./lib/jboss6/hornetq-jms-client.jar
<% @release_files['files'].each do |file| -%>
<%= "CLASSPATH=$CLASSPATH:./lib/#{file}" %>
<% end %>
CLASSPATH=.:$CLASSPATH

/usr/java/jdk1.6.0_31/bin/java -Xmx2048m -Djavax.net.ssl.keyStore=keystore -Djavax.net.ssl.keyStorePassword=password -DLDC_TRS -Dsun.rmi.transport.tcp.responseTimeout=600000 -cp $CLASSPATH  com.isi.trs.server.TRS 0 > nohup_trs.out &

echo ON
