#schema used for save adcon data and MWatch data.
jdbc.oms.db.url=jdbc:oracle:thin:@<%= @db_host %>:1521:<%= @db_sid %>
jdbc.oms.db.user=VUpGEBIFNp+0EPUbCwj+iw==
jdbc.oms.db.password=Dz8rUw5pJngH3PO8ra3BPw==
