# [Price Connection]
CM_ID=<%= @cm_id %>
PROXY_SOCKS_PORT=0
PROXY_IP=0
USE_PROXY=0
SERVER_PORT=9006
DOWNLOAD_PORT=9005
SERVER_IPS=<%= @price_server_ips %>

# {JMS Connection]
JMS_IP=<%= @jms_ip %>
JMS_PORT=<%= @jms_port %>
JMS_IN=ToMRE
JMS_OUT=FromMRE
JMS_EXPIRED=EXPIRED_QUEUE

# [Database Connection]
DB_CLASS=oracle.jdbc.driver.OracleDriver
DB_URL=jdbc:oracle:thin:@<%= @db_host %>:1521:<%= @db_sid %>
DB_USER=MUBASHER_OMS
DB_PASS=password

# [Maintanace Service]
MATCHING_START_TIME=00:00:00
MATCHING_STOP_TIME=23:56:00

# [MRE Settings]
LOG_PATH=logx
IS_CONSOLE_ENABLE=true
MIDDLEWARE=JMS

# [Web Service Settings]
CANCEL_PENDING_DAY_ORDERS=false
SQ_OFF_DAY_TRADES=false
SQ_OFF_MARGIN_TRADES=false
WEB_SERVICE_URL=http://<%= @oms_ip %>:8080/MubasherWebServices/services/OMService
TIME_DELAY_IN_SECS=60
NOTIFICATION_ADV_IN_SECS=600

# [slice order settings]
HISTORY_COLLECT_PERIOD=30

# [NON DEFAULT Exchanges]
NON_DEFAULT_EXCHANGES=NYSE,NSDQ,LSE

# on/off ForeignOwnership Algo functionality
FOREIGN_OWNERSHIP_ALGO=true
FOREIGN_OWNERSHIP_ALGO_PERIODIC_ORDER_FREQUENCY=5

#enable disable debug
DEBUG_MODE=false
SKIP_PERIOD=1

#[Time Trigger Order Settings -true/false, frequency in seconds]
TIME_TRIGGER_ORDER=true
TIME_TRIGGER_FREQUENCY=60
