global
#       log     127.0.0.1 local0
        log     127.0.0.1 local1 notice
        chroot      /usr/share/haproxy
        pidfile     /var/run/haproxy.pid
        maxconn     30720
        user        nobody
        group       nobody
#       nbproc 2
        daemon
#       debug

    # turn on stats unix socket
    stats socket /tmp/haproxy.sock level admin

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
        mode                    http
        log                     global
        option                  dontlognull
        option http-server-close
        option http-pretend-keepalive
        option                  redispatch
        retries                 3
        timeout http-request    10s
        timeout queue           1m
        timeout connect         10s
        timeout client          1m
        timeout server          1m
        timeout http-keep-alive 10s
        timeout check           10s
        maxconn                 30720
        option httplog

#---------------------------------------------------------------------
# main frontend which proxys to the backends - http
#---------------------------------------------------------------------
frontend  http-in
        bind <%= @frontend_ip %>:80
        option forwardfor
        log global
        option httplog
        default_backend             ws
        acl is_websocket hdr(Upgrade) -i WebSocket
        acl is_websocket_path path_beg -i /comet
        use_backend  ws if is_websocket is_websocket_path
        use_backend  long-poll if is_websocket_path

backend long-poll
        option forwardfor # This sets X-Forwarded-For
#       cookie BAYEUX_BROWSER prefix
        cookie comet insert
#       balance source
        balance leastconn
        server  comet51 <%= @node1 %>:8000 cookie comet51 check inter 8s rise 2 fall 3
        server  comet55 <%= @node2 %>:8000 backup cookie comet55 check inter 8s rise 2 fall 3


backend ws
        option forwardfor # This sets X-Forwarded-For
#        cookie BAYEUX_BROWSER prefix
        cookie comet insert
#       balance source
        balance leastconn
        server  comet51 <%= @node1 %>:8000 cookie comet51 check inter 8s rise 2 fall 3
        server  comet55 <%= @node2 %>:8000 backup cookie comet55 check inter 8s rise 2 fall 3

#---------------------------------------------------------------------
# main frontend which proxys to the backends - http
#---------------------------------------------------------------------

listen  phoenix_tws :9006
		mode tcp
		option tcplog
		balance leastconn
		
		server phoenix_tws51 <%= @node1 %>:9006 check
		server phoenix_tws55 <%= @node2 %>:19006 backup check
		
# Zabbix monitor
listen stats
        bind *:8080
        stats enable
        stats refresh 15s
        stats auth admin:123123
        stats uri /
