<% @connectors.each do |connector| -%>
<bean name="<%= connector %>" class="com.directfn.sms_manager.sms_manager_logic.connectors.ServerConnector">
	<% @connector_arr["#{connector}"].each do |name, value| -%>
		<property name="<%= name %>" value="<%= value %>"/>
	<% end %>
</bean>
<% end %>
