#SMS Manager settings
#SMS Manager ip: SMS Manager host ip
SMS_MGR_IP=127.0.0.1

#NORMAL_PORT: Jetty server normal port
NORMAL_PORT=8029

#SECURE_PORT: Jetty server secure port
SECURE_PORT=8003

#SMS_SENDER_URL: This url use to send verification code to send sms to user/ use if otp enabled.
SMS_SENDER_URL=http://10.1.200.450000:8080/MubasherFrontOfficeConnector/ProcessRequest

#IS_OPT_ENABLED: whether or not opt enabled
IS_OPT_ENABLED=false

#web app version-use to load web app in initialization of the oms monitor.
WEB_APP_VERSION=web_console-1.0.1.11.war

#version
VERSION=1.0.1.11

#log file path
LOG_FILE=sms_manager.log

#DB Driver Class Name
DB_CLASS=oracle.jdbc.driver.OracleDriver

#DB1 Enabled? (Yes or No)
DB1_Enabled=Yes

#OMS data base. SMS will fetch from this db
DB_URL1=jdbc:oracle:thin:@<%= @mfs_db_host %>:1521:<%= @mfs_db_sid %>

#encripted DB user name
USER_NAME1=MUBASHER_OMS

#Db user password
PASSWORD1=password

#DB2 Enabled? (Yes or No)
DB2_Enabled=Yes

#OMS data base. SMS will fetch from this db
DB_URL2=jdbc:oracle:thin:@<%= @dbfs_db_host %>:1521:<%= @dbfs_db_sid %>

#encripted DB user name
USER_NAME2=MUBASHER_OMS

#Db user password
PASSWORD2=password

#Test SMS Table - if enabled this table will be used to fetch SMS from DB
#TEST_SMS_TABLE =tmp03_sms_out_test

#Test SMS Table for AlRajhi -if enabled this table will be used to fetch SMS from DB
#TEST_SMS_TABLE_RAJHI =tmp03_rajhi_sms_out_test

#Test Mobile Number - if enabled will be used to send all SMS
#TEST_NUMBER=971527598715
#TEST_NUMBER=94718152448

#Alrajhi Web Service URL
ALRAHJI_SMS_URL = http://87.101.155.249:7702/SMSService/

