<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="smsRouter" class="com.directfn.sms_manager.sms_manager_logic.router.SMSRouter">

        <property name="connectorManager" ref="connectorManager"/>

        <property name="routingSMSRoutingRules">

            <list>
		<% @attributes.each do |attr| -%>
			<bean class="com.directfn.sms_manager.sms_manager_logic.router.SMSRoutingRule">
				<property name="description" value="dsdsd"/>
				<property name="ruleDefinition" value="<%= attr %>"/>
			</bean>
		<% end %>
            </list>

        </property>

    </bean>

    <bean name="connectorManager" class="com.directfn.sms_manager.sms_manager_logic.connectors.ConnectorManager">

        <property name="defaultSmscConnector" ref="GateWayConnector-HSL"/>

        <property name="SMSGatewayConnectors">

            <list>
				<% @connectors.each do |connector| -%>
					<ref bean="<%= connector %>"/>
				<% end %>
            </list>

        </property>

    </bean>

				<% @connectors.each do |connector| -%>
				<bean name="<%= connector %>" class="com.directfn.sms_manager.sms_manager_logic.connectors.ServerConnector">
					<% @connector_arr["#{connector}"].each do |name, value| -%>
						<property name="<%= name %>" value="<%= value %>"/>
					<% end %>
				</bean>
				<% end %>

    <context:property-placeholder
            location="file:settings/sms_gateway.properties"/>

    <bean id="settings" class="com.directfn.sms_manager.common_utility.beans.Settings">

        <property name="otpEnabled" value="${IS_OPT_ENABLED:true}"/>
        <property name="secureIpList">
            <list value-type="com.directfn.sms_manager.common_utility.beans.SecureIp">
							<% @secureips.each do |id, value| -%>
                <ref bean="<%= id %>"/>
							<% end %>
            </list>
        </property>
        <property name="userAccountMap">
            <map>

						<% @useraccounts.each do |account,cred| -%>
                <entry key="<%= account %>">
                    <bean class="com.directfn.sms_manager.common_utility.beans.UserAccount">
										<% @useraccounts["#{account}"].each do |key,value| -%>
                        <property name="<%= key %>" value="<%= value %>"/>
										<% end %>	
                    </bean>
                </entry>
						<% end %>

            </map>
        </property>

    </bean>

		<% @secureips.each do |id, value| -%>
    <bean id="<%= id %>" class="com.directfn.sms_manager.common_utility.beans.SecureIp">
        <property name="ip" value="<%= value %>"/>
    </bean>
		<% end %>

</beans>
