#Server Configurations. Do not change manually
#Sun Mar 05 09:44:32 AST 2006
#Version: 8.02.015-Ported Released on: 15/02/2008

UP_HOUR=23
UP_MINUTES=20
DOWN_HOUR=23
DOWN_MINUTES=10

DB_LOAD_START_HOUR=01
DB_LOAD_START_MINS=00

DB_LOAD_END_HOUR=23
DB_LOAD_END_MINS=00

DB_LOAD_INTERVAL=1

PRICE_DB_DRIVER=oracle.jdbc.driver.OracleDriver
PRICE_DB_URL=jdbc:oracle:thin:@<%= @pricedb_host %>:1521:<%= @pricedb_sid %>
PRICE_DB_USER=MDC_MFS_OMS
PRICE_DB_PASSWORD=password

SERVER_IP=<%= @server_ips %>
SERVER_NAME=<%= @server_name %>
SCM_REAL_TIME_PORT=9006
SCM_BACKLOG_PORT=9005

#SERVER_NAME=SABBTTSCM2
MACHINE_IP=dfn01.directfn.com
DEFAULT_EXCHANGE=TDWL
CLIENT_REALTIME_PORT=7006
CLIENT_BACKLOG_PORT=7005

DB_UPDATE_OPTION=23
SYNC_SYMBOL_MASTER=0
HEAP_THRESHOLD_PCT=25

UPDATE_NEWS_IN_DB=0
UPDATE_ANNS_IN_DB=0
MAX_DATA_QUEUE_SIZE=5000
IS_UPDATE_EXISTING_SYMBOLMAP=0

DETAILS=18446744073709551615

NET_MON_ENABLED=0
MY_IP=
NETMON_DB_QUERY_INTERVAL=5


# Newly added fields start here
IS_CLIENT_CONNECTED=1
BACKLOG_VALIDATION_ENABLED=1

#// 1- Middleware, 2- TCP
CLIENT_CONN_MTD=1

IS_ADD_SYMBOLS_FROM_DB=0
#change below three settings at once.
IS_ADD_SYMBOLS_FROM_FILE=0
IS_SYMBOL_DRIVEN_MODE=0
IS_SYMBOLWISE_EXCHANGE_ALLIAS_ENABLED=0

IS_UPDATE_INTL_SYMBOL_DATA=1
IS_UPDATE_OMS_SYMBOL_DATA=1
EXCHANGES_TO_LOAD_FROM_DB=AMEX,NYSE,NSDQ
PRE_SUBSCRIPTION_CONTROLS=20:100:100:1000:30000
#// 1- MQ, 2- JMS
NO_OF_MIDDLEWARE_CONNECTIONS=1

MIDDLEWARE_IP_0=<%= @fo_oms_ip %>
MIDDLEWARE_PORT_0=1099
CHANNEL_0=CLIENT.TO.PRICEQM
QUEUE_MGR_0=PRICEQM
RECEIVE_QUEUE_0=jms/queue/ToRDBM
SEND_QUEUE_0=jms/queue/FromRDBM
MIDDLEWARE_CONN_MTD_0=2

INITIAL_CONTEXT_FACTORY_0=org.jboss.naming.remote.client.InitialContextFactory
URL_PKG_PREFIXES_0=org.jboss.naming
QUERYCONNECTIONFACTORY_0=jms/RemoteConnectionFactory
PROVIDER_URL_PREFIX_0=remote


#### Remove Symbol Request Clears the snapshots
CLEAR_SNAPSHOTS_TABLE=0

####Logging Details#####
log.component=RDBM
log.path=./logs
log.server.threshold=TRACE
log.client.threshold=INFO
log.file.threshold=INFO
log.in.threshold=INFO
log.out.threshold=INFO
log.console.threshold=TRACE


IS_ADV_MBO_REQUESTED=0
IS_ADV_MBP_REQUESTED=0
