#!/bin/bash

NOHUP=/usr/bin/nohup

$NOHUP <%= @java_path %>/bin/java -Xms<%= @min_memory %>m -Xmx<%= @max_memory %>m -DLinuxServer=true -server -classpath DFNSRDBM_X_X-9.10.009.034.jar:./lib/mysql5.jar:./lib/log4j-1.2.15.jar:./lib/socks.jar:./lib/isiutils.zip:./lib/ojdbc14.jar:./lib/jturbo.jar:./lib/Java2COM.jar:./lib/coroutine4java.jar:./lib/jdom.jar:./lib/jms-api.jar:./lib/jboss-client.jar:./lib/hornetq-jms-2.2.6.Final.jar:./lib/hornetq-core-client-2.2.5.Final.jar:./lib/netty-3.2.0.Final.jar:./lib/jboss-remote-naming-1.0.2.Final.jar:./lib/jboss-client.jar com.mubasher.regional.dbmgr.RemoteDBManager > nohup_RDBM.out &


#DFNSRDBM_X_X-9.10.009.034.jar:./lib/log4j-1.2.15.jar:./lib/socks.jar:./lib/isiutils.zip:./lib/ojdbc14.jar:./lib/Java2COM.jar:./lib/coroutine4java.jar:./lib/jdom.jar com.mubasher.regional.dbmgr.RemoteDBManager > nohup_RDBM.out &


