<?xml version="1.0" encoding="UTF-8"?>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  JBoss Server Configuration                                           -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- See http://www.jboss.org/community/wiki/Multiple1PC for information about local-tx-datasource -->
<!-- $Id: oracle-ds.xml 97536 2009-12-08 14:05:07Z jesper.pedersen $ -->
<!-- ==================================================================== -->
<!--  Datasource config for Oracle originally from Steven Coy             -->
<!-- ==================================================================== -->


<datasources>

  <local-tx-datasource>
    <jndi-name>/jdbc/profiledb</jndi-name>
    <connection-url>jdbc:oracle:thin:@<%= @fo_db_host %>:1521:<%= @fo_db_sid %></connection-url>	
    <driver-class>oracle.jdbc.driver.OracleDriver</driver-class>
    <user-name><%= @fo_db_user %></user-name>
    <password><%= @fo_db_passwd %></password>
    <exception-sorter-class-name>org.jboss.resource.adapter.jdbc.vendor.OracleExceptionSorter</exception-sorter-class-name>
      <max-pool-size>10</max-pool-size>
      <min-pool-size>5</min-pool-size>
  </local-tx-datasource>

  </datasources>
