[GENERAL]
SERVER_ID=<%= @server_id %>
NEWS_LANGUAGES=EN,AR
ANNS_LANGUAGES=EN,AR

[TCP]
BIND_IP=0.0.0.0
BIND_PORT=9006

[WEBSOCKET]
BIND_IP=0.0.0.0
BIND_PORT=19006
WEBSOCKET_MODE = true

[COMET]
BIND_IP = 0.0.0.0
BIND_PORT = 8000

[ADMIN]
USER = abc
PASSWORD = 123

[CM]
IP=127.0.0.1
PORT=9004

# Renders the partial connections.ini.erb template
<%= render "connections.ini.erb" %>
