<?xml version="1.0" encoding="UTF-8"?>
<infinispan xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:infinispan:config:7.1 http://www.infinispan.org/schemas/infinispan-config-7.1.xsd" xmlns="urn:infinispan:config:7.1">
    <jgroups>
        <stack-file name="external-file" path="config/<%= @jgroups_config_file %>"/>
    </jgroups>

    <cache-container default-cache="replicatedCache">

        <transport cluster="Phoenix-Cluster" stack="external-file" node-name="PHOENIX" lock-timeout="50000" />

        <replicated-cache name="GENERAL" mode="SYNC" remote-timeout="17500"/>

        <!--High availability testing cache-->
        <replicated-cache name="HA" mode="SYNC" remote-timeout="17500"/>

        <!--Session table start -->
        <replicated-cache name="ACTIVE_SESSIONS" mode="SYNC" remote-timeout="17500"/>

        <replicated-cache name="INVALID_SESSIONS" mode="SYNC" remote-timeout="17500"/>

        <!--Alert table start -->

        <replicated-cache name="ALERTS" mode="SYNC" remote-timeout="17500">
            <persistence passivation="false">
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

        <replicated-cache name="ALERTS_USER" mode="SYNC" remote-timeout="17500">
            <persistence passivation="false">
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

        <replicated-cache name="EXPIRED" mode="SYNC" remote-timeout="17500">
            <persistence passivation="false">
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

        <replicated-cache name="EXPIRED_USER" mode="SYNC" remote-timeout="17500">
            <persistence passivation="false">
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

        <replicated-cache name="DELIVERABLE" mode="SYNC" remote-timeout="17500">
            <persistence passivation="false">
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

        <replicated-cache name="DELIVERABLE_USER" mode="SYNC" remote-timeout="17500">
            <persistence passivation="false">
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

        <replicated-cache name="TRIGGERED_USER" mode="SYNC" remote-timeout="17500">
            <persistence passivation="false">
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

        <!-- User Profile table start -->
        <replicated-cache name="USER_PROFILES" mode="SYNC" remote-timeout="17500">
            <transaction mode="BATCH"/>
            <persistence passivation="false" >
                <file-store
                        shared="false" preload="true" singleton="false"
                        fetch-state="true"
                        read-only="false"
                        purge="false"
                        path="cache">
                    <write-behind flush-lock-timeout="15000" thread-pool-size="5" />
                </file-store>
            </persistence>
        </replicated-cache>

    </cache-container>



</infinispan>
