<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
   version="2.0">

  <persistence-unit name="ALERTS_Store">
     <mapping-file>ALERTS_Store_mapping.xml</mapping-file>
     
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.Alert</class>
     
     
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="ALERTS_USER_Store">
   	<mapping-file>ALERTS_USER_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.AlertIDSet</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="DELIVERABLE_Store">
      	<mapping-file>DELIVERABLE_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.Alert</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="DELIVERABLE_USER_Store">
      	<mapping-file>DELIVERABLE_USER_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.AlertIDSet</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="EXPIRED_Store">
      	<mapping-file>EXPIRED_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.Alert</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="EXPIRED_USER_Store">
      	<mapping-file>EXPIRED_USER_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.AlertIDSet</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="TRIGGERED_Store">
      	<mapping-file>TRIGGERED_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.Alert</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="TRIGGERED_USER_Store">
      	<mapping-file>TRIGGERED_USER_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.AlertIDSet</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="NEXTDAYALERTS_Store">
      	<mapping-file>TRIGGERED_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.Alert</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="NEXTDAYALERTS_USER_Store">
      	<mapping-file>TRIGGERED_USER_Store_mapping.xml</mapping-file>
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.cm.alert.AlertIDSet</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" /> 
     </properties>
   </persistence-unit>
   
   <persistence-unit name="profileStore">
     <!-- This class is required to allow store metadata -->
     <class>org.infinispan.persistence.jpa.impl.MetadataEntity</class>
     <class>com.directfn.price.shared.profile.Profile</class>
     <properties>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<%= @mysql_host %>:3306/<%= @mysql_dbname %>?autoReconnect=true" />
         <property name="javax.persistence.jdbc.user" value="<%= @mysql_dbuser %>" />
         <property name="javax.persistence.jdbc.password" value="<%= @mysql_dbpassword %>" />
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
         <property name="hibernate.show_sql" value="true" />
         <property name="hibernate.hbm2ddl.auto" value="update" />
         
         <property name="hibernate.c3p0.validate" value="true"/>
         <property name="hibernate.connection.provider_class"
                      value="org.hibernate.connection.C3P0ConnectionProvider" />
    	 <property name="hibernate.c3p0.max_size" value="100" />
         <property name="hibernate.c3p0.min_size" value="5" />
         <property name="hibernate.c3p0.max_statements" value="1000" />
            
     </properties>
   </persistence-unit>
</persistence>
