clear
java <%= @memory_limit %> -ea -server -Dcom.sun.management.jmxremote -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005 -Djava.net.preferIPv4Stack=true -cp utilities-1.0.0-SNAPSHOT.jar:shared-1.0.0-SNAPSHOT.jar:core-1.0.0-SNAPSHOT.jar:lib/asm-5.0.1.jar:lib/* com.directfn.price.cm.ConnectionManager &
