  location /WebSMM/SubscriptionService {
        proxy_pass http://data.directfn.com/WebSMM/SubscriptionService;
        proxy_set_header Accept-Encoding "";
    proxy_set_header  X-Real-IP  $remote_addr;
    }

 location /mainria {
        proxy_pass http://<%= @fo_tomcat_ip %>:8580/DUTradeRIA/main.p;
        }

  location /DUUserReg {
        proxy_pass http://<%= @bo_tomcat_ip %>:8580/DUUserReg;
        proxy_set_header Accept-Encoding "";
    proxy_set_header  X-Real-IP  $remote_addr;
    }

  location /MubasherFMan {
        proxy_pass http://<%= @bo_jboss_ip %>:8080/MubasherFMan;
        proxy_set_header Accept-Encoding "";
    proxy_set_header  X-Real-IP  $remote_addr;
    }

  location /MubasherWebServices/services/OMService {
        proxy_pass http://<%= @bo_jboss_ip %>:8080/MubasherWebServices/services/OMService;
        proxy_set_header Accept-Encoding "";
    proxy_set_header  X-Real-IP  $remote_addr;
    }

#  location /MubasherDUInvestWebServices/services/DUInvestService {
#        proxy_pass http://172.16.30.85:9080/MubasherDUInvestWebServices/services/DUInvestService;
#        proxy_set_header Accept-Encoding "";
#    proxy_set_header  X-Real-IP  $remote_addr;
#    }

  location /MubasherWSAPI/services/OMS_WSAPI {
        proxy_pass http://<%= @bo_jboss_ip %>:8080/MubasherWSAPI/services/OMS_WSAPI;
        proxy_set_header Accept-Encoding "";
    proxy_set_header  X-Real-IP  $remote_addr;
    }

  # location /CometServer {
  #      proxy_pass  http://172.17.241.196:8480/CometServer;
  #      proxy_buffers     16 32k;
  #      proxy_busy_buffers_size 64k;
  #      proxy_temp_file_write_size 64k;
  #      client_body_buffer_size 2048k;
  #      proxy_set_header Accept-Encoding "";
  #      proxy_set_header X-Real-IP $remote_addr;
  #      proxy_set_header Host $host;
  #      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  #     }

location /front_terminal {
       proxy_pass http://<%= @fo_tomcat_ip %>:8080/front_terminal;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

location /dbSyncValidator {
       proxy_pass http://<%= @dbsync_validator_ip %>:8899/dbSyncValidator;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

location /cache-viewer {
       proxy_pass http://<%= @fo_tomcat_ip %>:8080/cache-viewer;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }


location /scheduler_console {
       proxy_pass http://<%= @fo_tomcat_ip %>:8080/scheduler_console;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

location /operation_server {
       proxy_pass http://<%= @bo_tomcat_ip %>:8030/operation_server;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

include /etc/nginx/conf.d/secure-mubashertrade-com.data;
#include /etc/nginx/conf.d/global1-mubashertrade-com.data;
