 location ~ ^/DUTradeRIA(.*)\.(jpg|gif|png|jpeg)$ {
        proxy_pass  http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_tomcat_ip'] %>:8580;
        expires 30d;
        add_header Cache-Control private;
        proxy_cache_valid 200 120m;
        proxy_buffers     16 32k;
        proxy_busy_buffers_size 64k;
        proxy_temp_file_write_size 64k;

        }

 location ~ ^/DUTradeRIA(.*)\.(js|swf|css)$ {
        proxy_pass  http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_tomcat_ip'] %>:8580;
        expires 14d;
        add_header Cache-Control private;
        proxy_cache_valid 200 120m;
        proxy_buffers     16 32k;
        proxy_busy_buffers_size 64k;
        proxy_temp_file_write_size 64k;

        }


 location /DUTradeRIA  {
        proxy_pass  http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_tomcat_ip'] %>:8580/DUTradeRIA;
        proxy_buffers     16 32k;
        proxy_busy_buffers_size 64k;
        proxy_temp_file_write_size 64k;
        client_body_buffer_size 2048k;
	proxy_set_header Accept-Encoding "";
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        }

  location /DUTradeRIA/content {
        proxy_pass  http://vas.dutrade.com/VasDataServiceContent/VasContent.aspx;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }

 location /DUTradeRIA/ngpvascontent {
        proxy_pass http://data.directfn.com/mix2/ClientServiceProvider;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }

 location /DUTradeRIA/priceMod {
        proxy_pass http://data.directfn.com/mix2/ClientServiceProvider;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }


  location /DUTradeRIA/price {
#        proxy_pass  http://172.17.241.189:8380/WebContentService/ClientServiceProvider;
        proxy_pass http://data.directfn.com/mix2/ClientServiceProvider;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }

  location /DUTradeRIA/pricecentral {
 #       proxy_pass  http://172.17.241.189:8380/WebContentService/ClientServiceProvider;
        proxy_pass http://data.directfn.com/mix2/ClientServiceProvider;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }

  location  /DUTradeRIA/symSearch {
 #       proxy_pass  http://172.17.241.189:8380/WebContentService/ClientServiceProvider;
        proxy_pass http://data.directfn.com/mix2/ClientServiceProvider;
        proxy_set_header  X-Real-IP  $remote_addr;
        }

  location /DUTradeRIA/watchlist {
#        proxy_pass http://172.17.240.241:8080/profile/DataHandler;
	proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['profile_manager_2'] %>:8380/profile/DataHandler;
        proxy_set_header  X-Real-IP  $remote_addr;
        }

  location /DUTradeRIA/prof {
#        proxy_pass  http://172.17.240.241:8080/profile/DataHandler;
	proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['profile_manager_2'] %>:8380/profile/DataHandler;
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_buffers     16 32k;
        proxy_busy_buffers_size 64k;
        proxy_temp_file_write_size 64k;
        client_body_buffer_size 2048k;
        }

  location /DUTradeRIA/prov {
        proxy_pass http://vas.dutrade.com/VasDataServiceContent/VasContent.aspx;
        proxy_set_header  X-Real-IP  $remote_addr;
         proxy_set_header Accept-Encoding "";
        }

 location /riacometd {

        proxy_pass  http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['comet_server'] %>:8480/CometServer/cometd/cometd;
#        proxy_pass  http://ngp-uat.directfn.com/CometServer/cometd;
#        proxy_set_header  X-Real-IP  $remote_addr;
#        proxy_redirect              off;
#        proxy_set_header            Host $host;
#        proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
        client_max_body_size        10m;
        client_body_buffer_size     128k;
        proxy_connect_timeout       75s;
        proxy_send_timeout          480s;
        proxy_read_timeout          480s;
        proxy_buffering off;
        proxy_next_upstream error;
        }

 location /CometServer {
        proxy_pass  http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['comet_server'] %>:8480/CometServer;
        client_max_body_size        10m;
        client_body_buffer_size     128k;
        proxy_connect_timeout       75s;
        proxy_send_timeout          480s;
        proxy_read_timeout          480s;
        proxy_buffering off;
        proxy_next_upstream error;
       }


  location  /jschart  {
#        proxy_pass http://172.17.241.189:8380/WebContentService/ClientServiceProvider;
        proxy_pass http://data.directfn.com/mix2/ClientServiceProvider;
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_buffers     16 32k;
        proxy_busy_buffers_size 64k;
        proxy_temp_file_write_size 64k;

        }

  location /DUTradeMobile {
        proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_tomcat_ip'] %>:8580/DUTradeMobile;
        proxy_set_header Accept-Encoding "";
    proxy_set_header  X-Real-IP  $remote_addr;
    }


#  location /MobileTrade {
#        proxy_pass http://172.17.240.241:8080/TradeSupport/mobile.ng;
#        #proxy_pass http://172.16.30.82:8080/TradeSupport/mobile.ng;
#        proxy_set_header Accept-Encoding "";
#	proxy_set_header X-Real-IP $remote_addr;
#	proxy_set_header Host $http_host;
#	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#        }


  location /ReportServer/reportServer {
        proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['report_server_2'] %>:8080/ReportServer/reportServer;
         proxy_set_header Accept-Encoding "";
        }

location /DUTradeRIA/dcpContent {
        proxy_pass http://data.directfn.com/mix2/ClientServiceProvider;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }


 location /Advisory_Management {
	port_in_redirect off;
        proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_tomcat_ip'] %>:8580/Advisory_Management;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }

location /mix2/ScannerServiceProvider {
        proxy_pass http://data.directfn.com/mix2/ScannerServiceProvider;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }
 location ~ ^/stockreports/images(.*)\.(jpg|gif|png|jpeg)$ {
        proxy_pass  http://172.17.240.226:8086;
        expires 30d;
        add_header Cache-Control private;
        proxy_cache_valid 200 120m;
        proxy_buffers     16 32k;
        proxy_busy_buffers_size 64k;
        proxy_temp_file_write_size 64k;
        }

  location /stockreports {
        proxy_pass  http://172.17.240.226:8086/;
        proxy_set_header  X-Real-IP  $remote_addr;
        }

 location /DUTradeRIA/ngpvascontentdcm {
        proxy_pass http://data.directfn.com/mix2/DCMServiceProvider;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }

# location /DUTradeRIA/auth {
#        proxy_pass http://data.directfn.com/webapps/NGPServices;
#        proxy_set_header Accept-Encoding "";
#        proxy_set_header  X-Real-IP  $remote_addr;
#        }


 location /adv {
	port_in_redirect off;
        proxy_pass http://172.17.240.243:8580/Advisory_Management;
        proxy_set_header Accept-Encoding "";
        proxy_set_header  X-Real-IP  $remote_addr;
        }


location /RevenueReports {
        proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['secondary_app_server'] %>:8580/RevenueReports;
        proxy_set_header Accept-Encoding "";
   	proxy_set_header  X-Real-IP  $remote_addr;
	port_in_redirect off;
        }

location /RevenueDataPersistingService {
        proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['secondary_app_server'] %>:8580/revenueDataPersistingService/RevenueDataPersistingService;
        proxy_set_header Accept-Encoding "";
    proxy_set_header  X-Real-IP  $remote_addr;
        }


 location /web {
        proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_trs_ip'] %>:8800/web/trs;
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     }

 location /trkriacometd {
        proxy_pass http://data.directfn.com/CometServer/cometd;
        proxy_set_header  X-Real-IP  $remote_addr;
        }


 location /chart {
        proxy_pass http://chart.apis.google.com/chart;
        proxy_set_header  X-Real-IP  $remote_addr;
     }

#location /front_terminal {
#        proxy_pass http://172.17.240.199:8080/front_terminal;
#        proxy_set_header Accept-Encoding "";
#        proxy_set_header  X-Real-IP  $remote_addr;
#    }


location /front_terminal {
       proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_jboss_ip'] %>:8080/front_terminal;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

location /dbSyncValidator {
       proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['dbsync_validator_ip'] %>:8899/dbSyncValidator;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

location /cache-viewer {
       proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['fo_jboss_ip'] %>:8080/cache-viewer;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

location /MubasherFMan  {
        proxy_pass http://<%= node['mfs-nginx']['secure2.mubashertrade.com.data']['bo_app_server'] %>:8080/MubasherFMan;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }


location /MubasherWSAPI/services/OMS_WSAPI  {
       proxy_pass http://172.18.31.81:8080/MubasherWSAPI/services/OMS_WSAPI;
       proxy_buffers     16 32k;
       proxy_busy_buffers_size 64k;
       proxy_temp_file_write_size 64k;
       client_body_buffer_size 2048k;
       proxy_set_header Accept-Encoding "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header Host $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
