<DBC>
    <Country>2</Country>
    <!-- 1 for india 2 for other -->
    <EnableReportDB>1</EnableReportDB>
    <!-- 1 for enable,other for disable -->
    <Listeners>
        <Listener>
            <Name>Listener-AMS1</Name>
            <Port>9997</Port>
            <!-- configured port for india-->
            <SSLEnable>true</SSLEnable>
        </Listener>
    </Listeners>
    <Clients>
        <Client>
            <Category>AT</Category>
            <Types>
                <Type>
                    <Name>DBC_OMS</Name>
                    <Minimum-Allowed-Version>2.1.5.0</Minimum-Allowed-Version>
                    <Enable>true</Enable>
                    <BlobTableName>M55</BlobTableName>
                    <!-- Z14 for AMS cient-->
                    <Database-Connections>
                        <Database-Connection><!--oms-schema-->
                            <DB-ID>OMS_DBC</DB-ID>
                            <DB-Description>OMS database</DB-Description>
                            <DB-Type>Oracle</DB-Type>
                            <Host><%= @db_server %>:1521/<%= @db_name %></Host>
                            <DefaultConnectionUser>yEtSNn0mJnPDXzeISX65AA==</DefaultConnectionUser>
                            <DefaultConnectionPassword>Dz8rUw5pJngH3PO8ra3BPw==</DefaultConnectionPassword>
                        </Database-Connection>
                        <!--<Database-Connection>&lt;!&ndash;price-schema&ndash;&gt;
                            <DB-ID>PRICE_DB</DB-ID>
                            <DB-Description>Price</DB-Description>
                            <DB-Type>Oracle</DB-Type>
                            <Host>10.1.200.52:1521/MFSTESTD</Host>
                            <DefaultConnectionUser>yEtSNn0mJnPDXzeISX65AA==</DefaultConnectionUser>
                            <DefaultConnectionPassword>Dz8rUw5pJngH3PO8ra3BPw==</DefaultConnectionPassword>
                        </Database-Connection>-->
                    </Database-Connections>
                </Type>
            </Types>
        </Client>
    </Clients>
</DBC>
