#-----------Common Settings--------------------

#Database details
DB_URL=jdbc:oracle:thin:@<%= @ora_server %>:1521:<%= @ora_sid %>
DB_USER=VUpGEBIFNp+0EPUbCwj+iw==
DB_PASSWORD=Dz8rUw5pJngH3PO8ra3BPw==
DB_CLASS=oracle.jdbc.driver.OracleDriver
DB_TYPE=Oracle
CASH_DB_CON=true

#Email server Settings
MAIL_PORT=25
MAIL_SOCKETFACTORY_PORT=25
MAIL_PROTOCOL=smtp
MAIL_HOST=<%= @email_host %>
MAIL_USER=<%= @email_user %>
MAIL_PASSWORD=<%= @email_passwd %>
MAIL_AUTH=false

#IF mix oms then omstype=2 if bates oms then omstype =1
OMS_TYPE=1

# Specify the environment details ( This is set to view the environment details on the commission reports  )
ENVIRONMENT=MFS_Testing_Environment

# Depolying broker details
BROKER=<%= @broker %>


#------------------Transaction Notification Settings -------------------------

SHED_TRAN_NOTF=0 * * * * ?
ENABLE_TRANSACTION_NOTIFICATION_SERVICE=true
#execution mode
EXEC_MODE=jse
#number notifications to be sent in a single iteration
NOTF_CHUNK_SIZE=10
#Institution ids of institutions that have specific template folders
TEMPLATES_AVAILABLE_INST_IDS=216,136
#if required, a logo will be visible in every notification footer
LOGO_VISIBLE=false
LOGO_NAME=image001.jpg
DUTRADE_LOGO_NAME=mubasher_logo.png
MUBASHER_LOGO_NAME=image003.jpg
ALRAJHI_LOGO_NAME=rajhi_logo.png



#----------------------Margin Trading Notification Settings--------------------------
EMAIL_CC_LIST=
EMAIL_FROM=noreply@mubasher.net
EMAIL_SUBJECT_MARGIN_CALL_EN=Margin Notification
EMAIL_SUBJECT_MARGIN_CALL_REMINDER_EN=Margin Reminder Notification
EMAIL_SUBJECT_MARGIN_LIQUIDATION_EN=Margin Liquidation Notification
EMAIL_SUBJECT_MARGIN_CALL_AR=\u0627\u0634\u0639\u0627\u0631\u0020\u0627\u0644\u0647\u0627\u0645\u0634
EMAIL_SUBJECT_MARGIN_CALL_REMINDER_AR=\u062a\u0630\u0643\u064a\u0631\u0020\u0628\u0627\u0634\u0639\u0627\u0631\u0020\u0627\u0644\u0647\u0627\u0645\u0634
EMAIL_SUBJECT_MARGIN_LIQUIDATION_AR=\u0627\u0634\u0639\u0627\u0631\u0020\u0628\u062a\u0635\u0641\u064a\u0629\u0020\u0627\u0644\u0647\u0627\u0645\u0634
PHONE_CUSTOMER_CARE=1111111
EMAIL_CUSTOMER_CARE=customercare@mubasher.net
SMS_MARGIN_CALL_TMP03_TYPE=0
SMS_MARGIN_REMINDER_TMP03_TYPE=0
SMS_MARGIN_LIQUIDATION_TMP03_TYPE=0

#for liquidation sheduler
OMS_HOST=<%= @oms_ip %>
OMS_PORT=1099
MIDDLEWARE_TYPE=JMS
QUEUE_NAME=FromTRS
QUEUE_MANAGER=QM1
QUEUE_CHANNEL=CLIENT.TO.QM1
SSL_ENABLED=false
MSG_PRIORITY=9
LIQ_USER_ID=640
REQUEST_INTERVAL=120000
#ssl settings for MQ
MQ_TRUSTSTORE=c:/ssl/truststore
MQ_KEYSTORE=c:/ssl/clientkeystore
MQ_KEYSTORE_PWD=changeit


#------------------EOD Transaction Notification Settings -------------------------
SHED_EOD_TRAN_NOTF=0 15 18 * * ?
EOD_TEMP_FILE_TYPE=12
EOD_IMAGE_FILE_NAME=shuaasec.JPG
EOD_MAIL_FROM=noreply@directfn.com
EOD_MAIL_SUBJECT=EOD Transaction Notification
EOD_SERVICE_THREAD_SLEEP=0

#------------------Cash Statement Notification Settings -------------------------
SHED_CASH_STMT_NOTF=0 27 17 * * ?
CASH_STMT_TEMP_FILE_TYPE=26
CASH_STMT_IMAGE_FILE_NAME=shuaacapital.png
CASH_STMT_MAIL_SUBJECT=Monthly Cash Account Summary Notification
CASH_STMT_SERVICE_THREAD_SLEEP=0

#------------------Holdings Statement Notification Settings -------------------------
SHED_HOLDS_STMT_NOTF=0 32 17 * * ?
HOLDS_STMT_TEMP_FILE_TYPE=27
HOLDS_STMT_IMAGE_FILE_NAME=shuaacapital.png
HOLDS_STMT_MAIL_SUBJECT=Monthly Holdings Summary Notification
HOLDS_STMT_SERVICE_THREAD_SLEEP=0

#Use SMS Templates 1- Use DB 2-use Defined *.template
USE_DB_SMS_TEMPLATES=1

#------------------System Notification Settings -------------------------

SHED_SYS_NOTF=30 * * * * ?

#-----------------ErrorNotification Email Address------------------------
ERROR_NOTIFICATION_EMAIL=p.dasun@directfn.com,k.shashika@directfn.com,app.support@mubasher.net
ERROR_EMAIL_SUBJECT=Email Address not configured -

#-----------------Templates to ignore institution level subject and add original subject---------------
TEMPLATE_ORIGINAL_SUBJECT=7,66,70
#TRADE_CONFIRMATION_NOTIFICATION_TYPE=6
#MARKET_CAP_NOTIFICATION_TYPE=66
#SNAPSHOT_UPDATER_NOTIFICATION_TYPE=70

