#!/bin/bash
NOHUP=/usr/bin/nohup
#title = MNS

CLASSPATH=:.//lib/DFNMNS_MFG_X-1.11.37.0.jar
CLASSPATH=$CLASSPATH:./lib/jboss6/jbossall-client.jar
CLASSPATH=$CLASSPATH:./lib/MFS/itext-1.3.jar
CLASSPATH=$CLASSPATH:./lib/MFS/slf4j-api-1.6.0.jar
CLASSPATH=$CLASSPATH:./lib/MFS/velocity-1.5.jar
CLASSPATH=$CLASSPATH:./lib/MFS/commons-collections-3.1.jar
CLASSPATH=$CLASSPATH:./lib/MFS/commons-lang-2.1.jar
CLASSPATH=$CLASSPATH:./lib/MFS/oro-2.0.8.jar
CLASSPATH=$CLASSPATH:./lib/MFS/slf4j-log4j12-1.6.0.jar
CLASSPATH=$CLASSPATH:./lib/MFS/log4j-1.2.14.jar
CLASSPATH=$CLASSPATH:./lib/MFS/quartz-1.8.4.jar
CLASSPATH=$CLASSPATH:./lib/MFS/commons-lang-2.4.jar
CLASSPATH=$CLASSPATH:./lib/MFS/log4j-1.2.9.jar
CLASSPATH=$CLASSPATH:./lib/MFS/jboss-j2ee-4.0.4.GA.jar
CLASSPATH=$CLASSPATH:./lib/MFS/velocity-dep-1.4.jar
CLASSPATH=$CLASSPATH:./lib/MFS/mail-1.4.jar
CLASSPATH=$CLASSPATH:./lib/MFS/activation-1.1.jar
CLASSPATH=$CLASSPATH:./lib/MFS/ojdbc-14.jar
CLASSPATH=$CLASSPATH:./lib/MFS/servlet-api-2.5.jar
CLASSPATH=$CLASSPATH:./lib/MFS/cryptohandler-1.01.jar
CLASSPATH=$CLASSPATH:./lib/MFS/velocity-tools-1.4.jar
CLASSPATH=$CLASSPATH:./lib/MFS/commons-collections-3.2.jar
CLASSPATH=$CLASSPATH:./lib/MFS/DFNMIXProtocol_X_X-2.10.000.010.jar
CLASSPATH=$CLASSPATH:./lib/MFS/mq-1.0.jar
CLASSPATH=$CLASSPATH:./lib/MFS/commons-logging-1.1.1.jar
CLASSPATH=$CLASSPATH:./lib/MFS/commons-logging-api-1.1.jar

CLASSPATH=.:$CLASSPATH

<%= @java_path %>/bin/java -Xmx256m -Djavax.net.ssl.keyStore=keystore -Djavax.net.ssl.keyStorePassword=password -DLDC_MNS -cp $CLASSPATH com.isi.notification.init.Main > nohup_mns.out &

echo ON



