JAVA_HOME="<%= @java_home %>"
BASEDIR="<%= @basedir %>"

JAVA_OPTS="-server -Xms<%= @min_memory_in_mb %>m -Xmx<%= @max_memory_in_mb %>m
-Djava.awt.headless=true -Dfile.encoding=UTF-8
-Dcom.sun.management.jmxremote=true
-XX:NewSize=512m -XX:MaxNewSize=512m -XX:PermSize=512m
-XX:MaxPermSize=512m -XX:+DisableExplicitGC"

LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CATALINA_HOME/lib

export LD_LIBRARY_PATH
export JAVA_HOME
export JAVA_OPTS
export BASEDIR
