app.parentWebsiteAddress=<%= @institution_home %>
#http://trade.dutrade.com
source.text.filepath=sources.txt
godaddy.seal.url=http://<%= @institution_home %>/DUUserReg/main.s?method=goDaddySealView
#  http://localhost:8080/DUUserReg/main.s?method=goDaddySealView
  #http://dtria-uat.dutrade.com/DUUserReg/main.s?method=goDaddySealView

config.css.dir=ltr
config.css.left=left
config.css.right=right
config.app.lang=en


title.companyName=Mubasher Trade
title.userRegistration=User Registration

label.next=Next

label.name=Name
label.authorizedPersonSignatory=Authorized Person Signatory
label.mr=Mr
label.dr=Dr.
label.prof=Prof
label.mrs=Mrs
label.miss=Miss

label.email=Email
label.mobile=Mobile

label.individualUser=Individual User
label.corporateUser=Corporate User
label.jointAccount=Joint Account

label.personalDetails=Personal Details
label.gender=Gender
label.male=Male
label.female=Female

label.single=Single
label.married=Married
label.separated=Separated
label.divorced=Divorced
label.widowed=Widowed
label.prefNotAns=Prefer not to answer

label.contactDetails=Contact Details
label.address=Address
label.selectCountry =Select a country
label.idppno=Passport No
label.issueDate=Issue Date
label.expDate=Exp. Date

label.countryOfBirthPlace=Place of Birth

label.jointAppInfo=Joint Applicant Information

label.companyName=Company Name
label.contactName=Contact Name
label.natureOfBussi=Nature Of Business

label.dateOfReg=Date Of Registration
label.regNo=Registration No.
label.contactInfo=Contact Information

label.employmentStatus=Employment Status
label.employed=Employed
label.selfEmployed=Self-Employed
label.unemployed=Retired
label.vacation=Vacation
label.n/a=N/A

label.details=Details
label.employer=Employer

label.bankName=Bank Name
label.country=Country
label.bankAccNo=Bank Account Number
label.branchName=Branch Name
label.preferredCurrency=Bank Currency

label.username=Username
label.usernameavailability=Check Username Availability
label.check=Check
label.preferredLanguage=Preferred Language
label.captch.note=Type the following letters in the box.

label.firstName=First Name
label.lastName=Last Name
#label.otherName=Other Names
label.otherName=Middle name
label.familyName=Family Name

label.noOfDeps=No of Dependants
label.homeTelNo=Primary Number.
label.mobileNo=Mobile No.
label.officeTelNo=Secondary Number.

label.street=Street Name
label.city=City
label.zipCode=Zip Code

label.phoneNo=Phone No.
label.faxNo=Fax No.

label.jobTitle=Job Title
label.occupation=Occupation
label.employerName=Employer Name
label.yearsWithEmployer=Years with this employer
label.designation=Designation/Job Title

label.captcha.message=CAPTCHA validation failed.
label.finish=Finish
label.uncheck.message=Username is already taken please choose a new one.
label.downloadpdf=Download Application Information
  #Download PDF

label.codeAndNumber=Mobile Number
label.product=Product
label.equity=Equities
label.derivatives=FX,CFDs
label.funds=Funds
label.category=Category
label.professional=Professional
label.nonprofessional=Non-Professional

label.iamacting=I am acting
label.myself=For myself
label.3rdparty=For third Party
label.guardian=As a guardian for a minor
label.areyouadirector=Are you a director or an officer in a public limited company?
label.directorQ=If the answer is yes please state the name of the company
label.areyoubroker=Are you an employee of a brokerage or an asset management company

label.yes=Yes
label.no=No
label.regulatorsName=Regulators Name
label.countryOfRegistration=Country Of Registration

label.legalStatus=Legal Status
label.employess=No Of Employees
label.paidUpCapital=Paid Up Capital
label.annualTurnover=Annual Turnover
label.netassetvalue=Net Asset Value
label.nameOfGroup=Name of Group
label.groupNav=Group Net Asset Value
label.sector=Sector
label.specify=Please Specify
label.select=Please Select

label.iscompanysubsidary=Is the Company Subsidiary of a Group?
label.appAnnualIncome=Approximate Annual Income
#  (In thousands)
label.appNetWorth=Approximate net worth except house (In thousands)

label.IndiUserAppNetWorth = approximate net worth excluding principal of residence
label.CorpoUserAppNetWorth = approximate net worth

label.initDpositAmt=Initial Deposit Amount
label.sourceOfFunds=Source of funds
label.howMuchCapital=How much of capital will you invest in capital markets
label.generalInvesObj=General Investment Objectives
label.expBonds=Experience in Bonds
label.expShares=Experience in share trading
label.expFunds=Experience in investment funds
label.expFxOther=Experience in FX or other derivatives
label.howactive=How active
label.howmanyyears=How many years
label.invEdu=Any course related to investment business

label.countryOfTaxResidence=Country of Tax Residence
label.taxPayerNumber=Tax Payer Number
label.addMoreTaxDetail=Please click here, If you are a tax resident in more than one country.

label.lessthan25=Less than 25%
label.25-50=25%-50%
label.50-75=50%-75%
label.over75=Over 75%

label.capitalProtection=Capital  Protection
label.incomeBalanced=Income Balanced
label.growthSpeculation=Growth Speculation

label.lessthan10=<10 per month
label.10to100=10-100 per month
label.over100=>over 100 per month

label.company=Company
label.amount=Amount in preferred currency

label.newKaptch=If you cannot read the image please click on the image above to get a new one.

err.validation.fields=Filling the fields marked with * is mandatory
err.lang.validation.fields=Non English characters are restricted.
err.leadValidation.fields=Filling all the fields is mandatory
err.fatal.error= An error occurred.Please contact your System Administrator.
err.validation.ppIsu = Passport issue date must be an earlier date than expiry date and the issue date must be a date prior to the current date

label.termsAndConditions=Terms and Conditions
label.exchangeAgreements=Exchange Agreements
label.usMarketRealTimeAgreement = US market real time data agreements
label.usMarketRealTimeAgree = Would you like to subscribe you to US markets real time data?
label.usMarketAgree = I agree

label.typeCode=Type the code

label.regcomplete.note=After completing the registration process, you will receive a confirmation email from us. Please contact us if you do not receive a confirmation mail. Please use this link to download the PDF version of your filled registration form. Take a printout of this form and do send a signed copy of that by currier to the following address. This process is to make sure that the form is filled by you in a well informed manner and not been filled under undue influence. If you have further clarification on this, please contact us through any of the following means.
label.captcha.abort=You have exceeded your CAPTCHA fail limit. Registration process has failed. Please retry by restarting the registration process. If the problem persists, please contact Mubasher Trade support.
label.ok=Ok

label.mandatory.msg=Fill the required fields (fields with * are mandatory) and click <b>Next.</b>
label.financeInformation=Finance Information
label.investmentInformation=Investment Information
label.taxResidenceInformation=TAX Residence Information
label.employmentDetails=Employment Details
label.generalInformation=General Information
label.type.chars=Type the character shown in the box and click <b>Next.</b>
label.termsAndConditionsAccp= I declare by my acceptance of these terms and conditions:
label.regcomplete.text=The registration is completed.
label.termsAndConditionsRead=Fully read the terms of condition
label.selectAndNext=Select the Agree button and click <b>Next.</b>
label.iagree=I agree to be bound by the exchange agreements for the exchanges that I will be getting quotes from
label.termsAndConditions1=* To have read, understood and agree to the Equity / CFDs / Forex Client Agreement (Agreement) and all other provisions referred to in said Agreement as well as all provision on this website;
label.termsAndConditions2=* To understand and accept that the Agreement and any other relevant terms and conditions (as amended from time to time) apply to my entire trading relationship with Mubasher Trade
label.officeAdd=Office Address:

msg.valid.user=Valid Username
msg.invalid.user=Invalid Username
msg.suggestions=Here are some suggestions...

label.officeAddLine1=Mubasher Financial Services
label.officeAddLine2=Head Office
label.officeAddLine3=181 Platinum Tower
label.officeAddLine4=Building 190
label.officeAddLine5=Road 2803,AlSeef District
label.officeAddLine6=Manama
label.officeAddLine7=Kingdom of Bahrain.

label.officePhone=Phone
label.officeFax=Fax

label.dubaiContact=Dubai Contact number :

label.clickHere=Click here to read this agreement
label.clickHerePrivacyPolicy = Privacy Policy
label.USD=USD

label.dialogTitle.warning=Warning
label.dialogTitle.message=Message
label.warning.indUser=FX, CFDs accounts are only available to customers with a net worth (excluding principal of residence) of 1 Million US. Dollar or equivalent
label.warning.copUser=We as a Company, partnership, trust or other commercial undertaking, have financial assets available for investment of not less than USD 1,000,000 (USD One or equivalent)
label.msg.content=Your current net worth does not qualify you for a FX, CFDs account, would you like to proceed with applying for an equities account?
label.close=Close

label.iagreeAccreditedInvestor=I agree as an Accredited Investor
label.AccInvesIndividual=Accredited Investor Declaration (Individual Application)
label.AccInvesJoint=Accredited Investor Declaration (Joint Application)
label.AccInvesCorporate=Accredited Investor Declaration (Corporate Application)

label.RiskDiscAgree=Risk Disclosures Agreement
label.RiskDiscDocument=Mubasher Trade Disclosures
label.Nationality=Nationality

option.ApproxAnulIncom.1=0 \u2013 $49K
option.ApproxAnulIncom.2=$50K \u2013 $99K
option.ApproxAnulIncom.3=$100K \u2013 $199K
option.ApproxAnulIncom.4=>$200K

option.ApproxNetWorth.1=0 \u2013 $99K
option.ApproxNetWorth.2=$100K \u2013 $499K
option.ApproxNetWorth.3=$500K \u2013 $999K
option.ApproxNetWorth.4=>$999K
label.officePhoneVal1=+97317556139
label.officeFaxval1=+97317556124
label.dubaiContactVal1= (+971) 800 567 000


#lead Registration

label.signUp=Sign Up

option.wayOFHear.0=TV
option.wayOFHear.1=Friend
option.wayOFHear.2=Seminar
option.wayOFHear.3=Search Engine
option.wayOFHear.4=Forum
option.wayOFHear.5=Mubasher.info

option.howOftenTrade.0=0-9 times per month
option.howOftenTrade.1=10-99 times per month
option.howOftenTrade.2=100+ times per month

label.wayOFHear=How did you hear about us?
label.howOftenTrade=How often do you trade?

label.selectNationality=Select a Nationality

label.successMessage=Successfully Registered


#Margin Trading

label.enable.margintrading=Account Type
label.marginTrading=Margin Trading
label.howExpeInMarginTrading=Have you traded on margin before
label.howExpMsgContent=Given that you do not have experience in margin trading, we recommend you don't apply for margin trading.
label.howExpMsgOpt1=Confirm, I want to activate margin trading
label.howExpMsgOpt2=I do not want to activate margin trading
label.MarginTradeAgree=Margin Trading Agreement

label.ssl.certificate=ABOUT SSL CERTIFICATES
label.ssl.certificate.title=Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.
label.email.notSame=Both Email Address has to be same.
label.confirmemail=Confirm Email
label.category.info= *Please select "Professional" category if you are an employee of Bank or Financial Services company or Businessman.
label.dob=Date of Birth
label.trading.currency=Trading Currency
label.trading.detail=Trading Details
label.selfemployed=Self Employed
label.residencyId=National/Residence ID
label.unique.secondaryNo=Secondary Number should not be equal to Primary number or Mobile number.
label.countrycode=Country Code
label.tradingCurncy.tip=Select the Currency you want to trade in
label.either.prmryScndry=You should put either Primary Number or Secondary Number.
label.confirmemail.tip=Add Confirm Email here.
label.err.agelimit=User must be a older than 18 years.
label.view.agreemment=View Agreement

# Agrement form page URL list #
url.customer.agreement=<%= @institution_home %>/en/DUTrade_Trading_Services_Customer_Agreement.html
url.privacyPolicy.agreement=<%= @institution_home %>/en/privacy_policy.html
url.accreditedInvestor.form=<%= @institution_home %>/downloads/forms/Accredited Investor Declaration (Individual Application ).pdf
url.accreditedInvestor.jointApplication.form=<%= @institution_home %>/downloads/forms/Accredited Investor Declaration (Joint Application).pdf
url.accreditedInvestor.coperateApplication.form=<%= @institution_home %>/downloads/forms/Accredited Investor Declaration (Corporate Application) (2).pdf
url.riskDisclosure.form=<%= @institution_home %>/downloads/forms/DUTrade Risk Disclosure.pdf
url.marginTrading.agreement=<%= @institution_home %>/downloads/forms/DUTrade_Margin_Trading_Agreement.pdf
