app.parentWebsiteAddress=<%= @institution_home %>
#http://trade.dutrade.com
source.text.filepath=sources.txt
godaddy.seal.url=<%= @institution_home %>/DUUserReg/main.s?method=goDaddySealView
#  http://localhost:8080/DUUserReg/main.s?method=goDaddySealView
  #http://dtria-uat.dutrade.com/DUUserReg/main.s?method=goDaddySealView

config.css.dir=rtl
config.css.left=right
config.css.right=left
config.app.lang=ar


title.companyName=MubasherTrade
title.userRegistration=User Registration

label.next=\u0627\u0644\u062A\u0627\u0644\u064A

label.name=\u0627\u0644\u0627\u0633\u0645
label.authorizedPersonSignatory=\u062A\u0648\u0642\u064A\u0639 \u0627\u0644\u0645\u062E\u062A\u0635
label.mr=\u0627\u0644\u0633\u064A\u062F
label.dr=\u0627\u0644\u062F\u0643\u062A\u0648\u0631
label.prof=\u0628\u0631\u0648\u0641\u064A\u0633\u0648\u0631
label.mrs=\u0627\u0644\u0633\u064A\u062F\u0629
label.miss=\u0627\u0644\u0622\u0646\u0633\u0629

label.email=\u0627\u0644\u0628\u0631\u064A\u062F \u0627\u0644\u0625\u0644\u0643\u062A\u0631\u0648\u0646\u064A
label.mobile=\u0627\u0644\u0647\u0627\u062A\u0641 \u0627\u0644\u0645\u062A\u062D\u0631\u0643

label.individualUser=\u0645\u0633\u062A\u062E\u062F\u0645 \u0634\u062E\u0635\u064A
label.corporateUser=\u0627\u0633\u062A\u062E\u062F\u0627\u0645 \u0634\u0631\u0643\u0629
label.jointAccount=\u062D\u0633\u0627\u0628 \u0645\u0631\u062A\u0628\u0637

label.personalDetails=\u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0634\u062E\u0635\u064A\u0629
label.gender=\u0627\u0644\u062C\u0646\u0633
label.male=\u0630\u0643\u0631
label.female=\u0623\u0646\u062B\u0649

label.single=\u0623\u0639\u0632\u0628
label.married=\u0645\u062A\u0632\u0648\u062C
label.separated=\u0645\u0646\u0641\u0635\u0644
label.divorced=\u0645\u0637\u0644\u0642
label.widowed=\u0623\u0631\u0645\u0644
label.prefNotAns=\u0644\u0627 \u0623\u0641\u0636\u0644 \u0627\u0644\u0625\u062C\u0627\u0628\u0629

label.contactDetails=\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0627\u062A\u0635\u0627\u0644
label.address=\u0627\u0644\u0639\u0646\u0648\u0627\u0646
label.selectCountry =\u0627\u062E\u062A\u0631 \u0627\u0644\u0628\u0644\u062F
label.idppno=\u062C\u0648\u0627\u0632 \u0633\u0641\u0631 \u0631\u0642\u0645
label.issueDate=\u062A\u0627\u0631\u064A\u062E \u0627\u0644\u0625\u0635\u062F\u0627\u0631
label.expDate=\u062A\u0627\u0631\u064A\u062E \u0627\u0644\u0625\u0646\u062A\u0647\u0627\u0621

label.countryOfBirthPlace=\u0645\u0643\u0627\u0646 \u0627\u0644\u0645\u064A\u0644\u0627\u062F

label.jointAppInfo=\u0628\u064A\u0627\u0646\u0627\u062A \u0645\u0642\u062F\u0645 \u0627\u0644\u0637\u0644\u0628

label.companyName=\u0627\u0633\u0645 \u0627\u0644\u0634\u0631\u0643\u0629
label.contactName=\u0627\u0633\u0645 \u0627\u0644\u0627\u062A\u0635\u0627\u0644
label.natureOfBussi=\u0637\u0628\u064A\u0639\u0629 \u0627\u0644\u0646\u0634\u0627\u0637

label.dateOfReg=\u062A\u0627\u0631\u064A\u062E \u0627\u0644\u062A\u0633\u062C\u064A\u0644
label.regNo=\u0631\u0642\u0645 \u0627\u0644\u062A\u0633\u062C\u064A\u0644
label.contactInfo=\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0627\u062A\u0635\u0627\u0644

label.employmentStatus=\u0627\u0644\u062D\u0627\u0644\u0629 \u0627\u0644\u0648\u0638\u064A\u0641\u064A\u0629
label.employed=\u062A\u0648\u0638\u064A\u0641
label.selfEmployed=\u064A\u0639\u0645\u0644 \u0644\u062D\u0633\u0627\u0628\u0647 \u0627\u0644\u062E\u0627\u0635
label.unemployed=\u062A\u0642\u0627\u0639\u062F
label.vacation=\u0625\u062C\u0627\u0632\u0629
label.n/a=N/A

label.details=\u0627\u0644\u062A\u0641\u0627\u0635\u064A\u0644
label.employer=\u0627\u0644\u0634\u0631\u0643\u0629

label.bankName=\u0627\u0633\u0645 \u0627\u0644\u0628\u0646\u0643
label.country=\u0627\u0644\u0628\u0644\u062F
label.bankAccNo=\u0631\u0642\u0645 \u0627\u0644\u062D\u0633\u0627\u0628
label.branchName=\u0627\u0633\u0645 \u0627\u0644\u0641\u0631\u0639
label.preferredCurrency=\u0639\u0645\u0644\u0629 \u0627\u0644\u0628\u0646\u0643\

label.username=\u0627\u0633\u0645 \u0627\u0644\u062F\u062E\u0648\u0644
label.usernameavailability=\u0627\u0644\u062A\u062D\u0642\u0642 \u0645\u0646 \u062A\u0648\u0627\u0641\u0631 \u0627\u0633\u0645 \u0627\u0644\u0645\u0633\u062A\u062E\u062F\u0645
label.check=\u0641\u062D\u0635
label.preferredLanguage=\u0627\u0644\u0644\u063A\u0629 \u0627\u0644\u0645\u0641\u0636\u0644\u0629
label.captch.note=\u0627\u0643\u062A\u0628 \u0627\u0644\u062D\u0631\u0648\u0641 \u0627\u0644\u062A\u0627\u0644\u064A\u0629 \u0641\u064A \u0627\u0644\u0645\u0631\u0628\u0639.

label.firstName=\u0627\u0644\u0627\u0633\u0645 \u0627\u0644\u0623\u0648\u0644
label.lastName=\u0627\u0633\u0645 \u0627\u0644\u0639\u0627\u0626\u0644\u0629
label.otherName=\u0627\u0633\u0645 \u0627\u0644\u0623\u0628
 # \u0627\u0644\u0627\u0633\u0645 \u0627\u0644\u062B\u0627\u0646\u064A
label.familyName=\u0627\u0633\u0645 \u0627\u0644\u0639\u0627\u0626\u0644\u0629

label.noOfDeps=\u0639\u062F\u062F \u0627\u0641\u0631\u0627\u062F \u0627\u0644\u0639\u0627\u0626\u0644\u0629
label.homeTelNo=\u0631\u0642\u0645 \u0627\u0644\u0623\u0648\u0644\u064A\u0629
label.mobileNo=\u0627\u0644\u062C\u0648\u0627\u0644
label.officeTelNo=\u0639\u062F\u062F \u0627\u0644\u062B\u0627\u0646\u0648\u064A\u0629

label.street=\u0627\u0633\u0645  \u0627\u0644\u0634\u0627\u0631\u0639
label.city=\u0627\u0644\u0645\u062F\u064A\u0646\u0629
label.zipCode=\u0627\u0644\u0631\u0645\u0632 \u0627\u0644\u0628\u0631\u064A\u062F\u064A

label.phoneNo=\u0631\u0642\u0645 \u0627\u0644\u0647\u0627\u062A\u0641
label.faxNo=\u0631\u0642\u0645 \u0627\u0644\u0641\u0627\u0643\u0633

label.jobTitle=\u0627\u0644\u0645\u0633\u0645\u0649 \u0627\u0644\u0648\u0638\u064A\u0641\u064A
label.occupation=\u0627\u062D\u062A\u0644\u0627\u0644
label.employerName=\u0627\u0633\u0645 \u0627\u0644\u0634\u0631\u0643\u0629
label.yearsWithEmployer=\u0639\u062F\u062F \u0627\u0644\u0633\u0646\u0648\u0627\u062A \u0641\u064A \u0627\u0644\u0634\u0631\u0643\u0629 \u0627\u0644\u062D\u0627\u0644\u064A\u0629
label.designation=\u062A\u0639\u064A\u064A\u0646 / \u0627\u0644\u0645\u0633\u0645\u0649 \u0627\u0644\u0648\u0638\u064A\u0641\u064A

label.captcha.message=\u0644\u0645 \u064A\u062D\u062F\u062B \u062A\u0637\u0627\u0628\u0642
label.finish=\u0625\u0646\u0647\u0627\u0621
label.uncheck.message=\u0648\u0627\u062A\u062E\u0630\u062A \u0628\u0627\u0644\u0641\u0639\u0644 \u0627\u0644\u0631\u062C\u0627\u0621 \u0627\u062E\u062A\u064A\u0627\u0631 \u0627\u0633\u0645 \u0648\u0627\u062D\u062F \u062C\u062F\u064A\u062F.
label.downloadpdf=\u062A\u062D\u0645\u064A\u0644 \u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u062A\u0633\u062C\u064A\u0644
  #\u062A\u0646\u0632\u064A\u0644 \u0646\u0633\u062E\u0629 PDF

label.codeAndNumber=\u0631\u0642\u0645 \u0627\u0644\u0645\u0648\u0628\u0627\u064A\u0644
label.product=\u0623\u0644\u0627\u062F\u0648\u0627\u062A \u0627\u0644\u062A\u064A \u064A\u0631\u063A\u0628 \u0627\u0644\u0639\u0645\u064A\u0644 \u0627\u0644\u062A\u0639\u0627\u0645\u0644 \u0628\u0647\u0627
label.equity=\u0627\u0644\u0623\u0633\u0647\u0645
label.derivatives=\u0627\u0644\u0639\u0645\u0644\u0627\u062A, \u0639\u0642\u0648\u062F \u0627\u0644\u0641\u0631\u0648\u0642
label.funds=\u0627\u0644\u0635\u0646\u0627\u062F\u064A\u0642
label.category=\u0641\u0626\u0629
label.professional=\u0645\u062D\u062A\u0631\u0641
label.nonprofessional=\u063A\u064A\u0631 - \u0627\u0644\u0645\u0647\u0646\u064A\u0629

label.iamacting=\u0635\u0641\u0647 \u0627\u0644\u062A\u0639\u0627\u0645\u0644
label.myself=\u0634\u062E\u0635\u064A
label.3rdparty=\u0648\u0643\u064A\u0644
label.guardian=\u0648\u0635\u064A
label.areyouadirector=\u0647\u0644  \u0623\u0646\u062A \u0645\u062F\u064A\u0631 \u0623\u0648 \u0645\u0648\u0638\u0641 \u0641\u064A \u0634\u0631\u0643\u0629 \u0645\u062F\u0631\u062C\u0629 \u061F
label.directorQ=\u0625\u0630\u0627 \u0643\u0627\u0646\u062A \u0627\u0644\u0625\u062C\u0627\u0628\u0629 \u0628\u0646\u0639\u0645\u060C \u0646\u0631\u062C\u0648 \u0643\u062A\u0627\u0628\u0629 \u0627\u0633\u0645 \u0627\u0644\u0634\u0631\u0643\u0629
label.areyoubroker=\u0647\u0644 \u0623\u0646\u062A \u0645\u0648\u0638\u0641 \u0641\u064A \u0634\u0631\u0643\u0629 \u0648\u0633\u0627\u0637\u0629 \u0623\u0648 \u0634\u0631\u0643\u0629 \u0625\u062F\u0627\u0631\u0629 \u0623\u0635\u0648\u0644 \u061F

label.yes=\u0646\u0639\u0645
label.no=\u0644\u0627
label.regulatorsName=\u0623\u0633\u0645\u0627\u0621 \u0627\u0644\u0645\u062F\u064A\u0631\u064A\u0646
label.countryOfRegistration=\u0628\u0644\u062F \u0627\u0644\u062A\u0633\u062C\u064A\u0644

label.legalStatus=\u0627\u0644\u062D\u0627\u0644\u0629 \u0627\u0644\u0642\u0627\u0646\u0648\u0646\u064A\u0629
label.employess=\u0639\u062F\u062F \u0627\u0644\u0645\u0648\u0638\u0641\u064A\u0646
label.paidUpCapital=\u0631\u0623\u0633 \u0627\u0644\u0645\u0627\u0644 \u0627\u0644\u0645\u062F\u0641\u0648\u0639
label.annualTurnover=\u0627\u0644\u0642\u064A\u0645\u0629 \u0627\u0644\u0633\u0646\u0648\u064A\u0629
label.netassetvalue=\u0642\u064A\u0645\u0629 \u0635\u0627\u0641\u064A \u0627\u0644\u0623\u0635\u0648\u0644
label.nameOfGroup=\u0627\u0633\u0645 \u0627\u0644\u0645\u062C\u0645\u0648\u0639\u0629
label.groupNav=\u0627\u0644\u0645\u062C\u0645\u0648\u0639\u0629 \u0635\u0627\u0641\u064A \u0642\u064A\u0645\u0629 \u0627\u0644\u0623\u0635\u0648\u0644
label.sector=\u0627\u0644\u0642\u0637\u0627\u0639
label.specify=\u0646\u0631\u062C\u0648 \u0627\u0644\u0627\u062E\u062A\u064A\u0627\u0631
label.select=\u0646\u0631\u062C\u0648 \u0627\u0644\u0627\u062E\u062A\u064A\u0627\u0631

label.iscompanysubsidary=\u0647\u0644 \u0627\u0644\u0634\u0631\u0643\u0629 \u062A\u0627\u0628\u0639\u0629 \u0644\u0645\u062C\u0645\u0648\u0639\u0629 \u0634\u0631\u0643\u0627\u062A \u061F
label.appAnnualIncome=\u0627\u0644\u062F\u062E\u0644 \u0627\u0644\u0633\u0646\u0648\u064A \u0627\u0644\u062A\u0642\u0631\u064A\u0628\u064A
#  (\u0628\u0627\u0644\u0623\u0644\u0641)
label.appNetWorth=\u0635\u0627\u0641\u064A \u0627\u0644\u062B\u0631\u0648\u0629 \u0627\u0644\u062A\u0642\u0631\u064A\u0628\u064A\u0629 \u0628\u0627\u0633\u062A\u062B\u0646\u0627\u0621 \u0627\u0644\u0645\u0646\u0632\u0644 (\u0628\u0627\u0644\u0623\u0644\u0641)

label.IndiUserAppNetWorth=\u0635\u0627\u0641\u064A \u0627\u0644\u0642\u064A\u0645\u0629 \u0627\u0644\u062A\u0642\u0631\u064A\u0628\u064A\u0629 \u0628\u0627\u0633\u062A\u062B\u0646\u0627\u0621 \u0627\u0644\u0633\u0643\u0646
label.CorpoUserAppNetWorth=\u0635\u0627\u0641\u064A \u0627\u0644\u0642\u064A\u0645\u0629 \u0627\u0644\u062A\u0642\u0631\u064A\u0628\u064A\u0629

label.initDpositAmt=\u0645\u0628\u0644\u063A \u0627\u0644\u0625\u064A\u062F\u0627\u0639 \u0627\u0644\u0623\u0648\u0644\u064A
label.sourceOfFunds=\u0645\u0635\u0627\u062F\u0631 \u0627\u0644\u062F\u062E\u0644
label.howMuchCapital=\u0645\u0627 \u0647\u064A \u0646\u0633\u0628\u0629 \u0627\u0633\u062A\u062B\u0645\u0627\u0631\u0643 \u0641\u064A \u0623\u0633\u0648\u0627\u0642 \u0627\u0644\u0645\u0627\u0644 \u061F
label.generalInvesObj=\u0627\u0644\u0623\u0647\u062F\u0627\u0641 \u0627\u0644\u0627\u0633\u062A\u062B\u0645\u0627\u0631\u064A\u0629
label.expBonds=\u0647\u0644  \u0644\u062F\u064A\u0643 \u062E\u0628\u0631\u0629 \u0641\u064A \u0627\u0644\u0633\u0646\u062F\u0627\u062A
label.expShares=\u0647\u0644 \u0644\u062F\u064A\u0643 \u062E\u0628\u0631\u0629 \u0641\u064A \u062A\u062F\u0627\u0648\u0644 \u0627\u0644\u0623\u0633\u0647\u0645
label.expFunds=\u0647\u0644 \u0644\u062F\u064A\u0643 \u062E\u0628\u0631\u0629 \u0641\u064A \u0635\u0646\u0627\u062F\u064A\u0642 \u0627\u0644\u0627\u0633\u062A\u062B\u0645\u0627\u0631
label.expFxOther=\u0647\u0644 \u0644\u062F\u064A\u0643 \u062E\u0628\u0631\u0629 \u0641\u064A \u062A\u062C\u0627\u0631\u0629 \u0627\u0644\u0639\u0645\u0644\u0627\u062A \u0623\u0648 \u0627\u0644\u0645\u0634\u062A\u0642\u0627\u062A \u0627\u0644\u0623\u062E\u0631\u0649
label.howactive=\u062D\u062C\u0645 \u0627\u0644\u0646\u0634\u0627\u0637
label.howmanyyears=\u0643\u0645 \u0633\u0646\u0629
label.invEdu=\u0647\u0644 \u062D\u0636\u0631\u062A \u0623\u064A \u062F\u0648\u0631\u0627\u062A \u062A\u062F\u0631\u064A\u0628\u064A\u0629 \u0641\u064A \u0645\u062C\u0627\u0644 \u0627\u0644\u0625\u0633\u062A\u062B\u0645\u0627\u0631

label.countryOfTaxResidence=\u0628\u0644\u062F \u0636\u0631\u0627\u0626\u0628 \u0627\u0644\u0625\u0642\u0627\u0645\u0629
label.taxPayerNumber=\u0639\u062F\u062F \u062F\u0627\u0641\u0639\u064A \u0627\u0644\u0636\u0631\u0627\u0626\u0628
label.addMoreTaxDetail=\u0646\u0631\u062C\u0648 \u0627\u0644\u0636\u063A\u0637 \u0647\u0646\u0627\u060C \u0625\u0630\u0627 \u0643\u0646\u062A \u062F\u0627\u0641\u0639\u0627\u064B \u0644\u0636\u0631\u0627\u0626\u0628 \u0627\u0644\u0625\u0642\u0627\u0645\u0629 \u0641\u064A \u0623\u0643\u062B\u0631 \u0645\u0646 \u0628\u0644\u062F \u0648\u0627\u062D\u062F

label.lessthan25=\u0623\u0642\u0644 \u0645\u0646 25%
label.25-50=25%-50%
label.50-75=50%-75%
label.over75=\u0623\u0643\u062B\u0631 \u0645\u0646 75%

label.capitalProtection=\u062D\u0645\u0627\u064A\u0629 \u0631\u0623\u0633 \u0627\u0644\u0645\u0627\u0644
label.incomeBalanced=\u062F\u062E\u0644 \u062B\u0627\u0628\u062A
label.growthSpeculation=\u0646\u0645\u0648 \u0631\u0623\u0633 \u0627\u0644\u0645\u0627\u0644

label.lessthan10=\u0623\u0642\u0644 \u0645\u0646 10 \u0641\u064A \u0627\u0644\u0634\u0647\u0631
label.10to100=\u0645\u0646 10 - 100 \u0641\u064A \u0627\u0644\u0634\u0647\u0631
label.over100=\u0623\u0643\u062B\u0631 \u0645\u0646100 \u0641\u064A \u0627\u0644\u0634\u0647\u0631

label.company=\u0627\u0644\u0634\u0631\u0643\u0629
label.amount=\u0627\u062F\u062E\u0644 \u0627\u0644\u0645\u0628\u0644\u063A \u0628\u0627\u0644\u0639\u0645\u0644\u0629 \u0627\u0644\u0645\u0641\u0636\u0644\u0629

label.newKaptch=\u0625\u0630\u0627 \u0644\u0645 \u062A\u0633\u062A\u0637\u0639 \u0642\u0631\u0627\u0621\u0629 \u0627\u0644\u0635\u0648\u0631\u0629 \u0646\u0631\u062C\u0648 \u0623\u0646 \u062A\u0636\u063A\u0637 \u0639\u0644\u0649 \u0627\u0644\u0635\u0648\u0631\u0629 \u0641\u064A \u0627\u0644\u0623\u0633\u0641\u0644 \u0644\u0644\u062D\u0635\u0648\u0644 \u0639\u0644\u0649 \u0623\u062E\u0631\u0649 \u062C\u062F\u064A\u062F\u0629.

err.validation.fields=\u064A\u062C\u0628 \u0645\u0644\u0623 \u0627\u0644\u062D\u0642\u0648\u0644 \u0627\u0644\u062A\u064A \u062A\u062D\u062A\u0648\u064A \u0627\u0644\u0639\u0644\u0627\u0645\u0629 *
err.lang.validation.fields=\u0648\u062A\u0642\u062A\u0635\u0631 \u0627\u0644\u0623\u062D\u0631\u0641 \u063A\u064A\u0631 \u0627\u0644\u0625\u0646\u062C\u0644\u064A\u0632\u064A\u0629.
err.leadValidation.fields=\u0627\u0644\u0631\u062C\u0627\u0621 \u062A\u0639\u0628\u0626\u0629 \u062C\u0645\u064A\u0639 \u0627\u0644\u062E\u0627\u0646\u0627\u062A \u0627\u0644\u0645\u0637\u0644\u0648\u0628\u0629
err.fatal.error= \u062D\u062F\u062B \u062E\u0637\u0623. \u0627\u0644\u0631\u062C\u0627\u0621 \u0645\u0631\u0627\u062C\u0639\u0629 \u0645\u0633\u0624\u0648\u0644 \u0627\u0644\u0646\u0638\u0627\u0645.
err.validation.ppIsu =\u064A\u062C\u0628 \u0623\u0646 \u064A\u0643\u0648\u0646 \u062A\u0627\u0631\u064A\u062E \u0625\u0635\u062F\u0627\u0631 \u062C\u0648\u0627\u0632 \u0627\u0644\u0633\u0641\u0631 \u0642\u0628\u0644 \u062A\u0627\u0631\u064A\u062E \u0627\u0646\u062A\u0647\u0627\u0621 \u0627\u0644\u0635\u0644\u0627\u062D\u064A\u0629 \u0648\u064A\u062C\u0628 \u0623\u0646 \u064A\u0643\u0648\u0646 \u062A\u0627\u0631\u064A\u062E \u0627\u0644\u0625\u0635\u062F\u0627\u0631 \u0642\u0628\u0644 \u0627\u0644\u062A\u0627\u0631\u064A\u062E \u0627\u0644\u062D\u0627\u0644\u064A

label.termsAndConditions=\u0627\u0644\u0634\u0631\u0648\u0637 \u0648\u0627\u0644\u0623\u062D\u0643\u0627\u0645
label.exchangeAgreements=\u0627\u062A\u0641\u0627\u0642\u064A\u0629 \u0627\u0644\u0633\u0648\u0642
label.usMarketRealTimeAgreement =\u0627\u062A\u0641\u0627\u0642\u064A\u0627\u062A \u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0641\u0648\u0631\u064A\u0629 \u0644\u0633\u0648\u0642 \u0627\u0644\u0648\u0644\u0627\u064A\u0627\u062A \u0627\u0644\u0645\u062A\u062D\u062F\u0629
label.usMarketRealTimeAgree =\u0647\u0644 \u062A\u0631\u063A\u0628 \u0641\u064A \u0627\u0644\u0627\u0634\u062A\u0631\u0627\u0643 \u0641\u064A \u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0641\u0648\u0631\u064A\u0629 \u0644\u0644\u0623\u0633\u0648\u0627\u0642 \u0627\u0644\u0623\u0645\u0631\u064A\u0643\u064A\u0629\u061F
label.usMarketAgree = \u0645\u0648\u0627\u0641\u0642

label.typeCode=\u0627\u0643\u062A\u0628 \u0627\u0644\u0631\u0645\u0632

label.regcomplete.note=\u0628\u0639\u062F \u0625\u0646\u0647\u0627\u0621 \u0639\u0645\u0644\u064A\u0629 \u0627\u0644\u062A\u0633\u062C\u064A\u0644\u060C \u0633\u0648\u0641 \u064A\u0635\u0644\u0643 \u0628\u0631\u064A\u062F \u0625\u0644\u0643\u062A\u0631\u0648\u0646\u064A \u0645\u0646\u0627 \u0644\u062A\u0623\u0643\u064A\u062F \u0627\u0644\u0639\u0645\u0644\u064A\u0629\u060C \u0646\u0631\u062C\u0648 \u0627\u0644\u0627\u062A\u0635\u0627\u0644 \u0628\u0646\u0627 \u0625\u0630\u0627 \u0644\u0645  \u064A\u0635\u0644\u0643 \u0628\u0631\u064A\u062F \u0627\u0644\u062A\u0623\u0643\u064A\u062F\u060C \u0646\u0631\u062C\u0648 \u0627\u0633\u062A\u062E\u062F\u0627\u0645 \u0627\u0644\u0631\u0627\u0628\u0637 \u0644\u062A\u0646\u0632\u064A\u0644 \u0646\u0633\u062E\u0629 \u0645\u0646 \u0646\u0645\u0648\u0630\u062C \u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u062A\u0633\u062C\u064A\u0644 \u0628\u0647\u064A\u0626\u0629 \u0645\u0644\u0641 PDF\u060C \u0627\u0637\u0628\u0639 \u0627\u0644\u0646\u0645\u0648\u0630\u062C \u0648\u0648\u0642\u0639\u0647 \u062B\u0645 \u0623\u0631\u0633\u0644\u0647 \u0628\u0627\u0644\u0628\u0631\u064A\u062F \u0627\u0644\u064A\u062F\u0648\u064A \u0644\u0644\u0639\u0646\u0648\u0627\u0646 \u0627\u0644\u062A\u0627\u0644\u064A\u060C \u062A\u0647\u062F\u0641 \u0647\u0630\u0647 \u0627\u0644\u062E\u0637\u0648\u0629 \u0625\u0644\u0649 \u0627\u0644\u062A\u0623\u0643\u062F \u0623\u0646 \u0627\u0644\u0646\u0645\u0648\u0630\u062C \u062A\u0645 \u0645\u0644\u0624\u0647 \u0639\u0646 \u0637\u0631\u064A\u0642\u0643 \u0628\u0634\u0643\u0644 \u0645\u0624\u0643\u062F \u0648\u0623\u0646\u0647 \u0644\u0645 \u064A\u062A\u0645 \u0645\u0644\u0624\u0647 \u062A\u062D\u062A \u0623\u064A \u0638\u0631\u0641 \u0627\u0636\u0637\u0631\u0627\u0631\u064A\u060C \u0625\u0630\u0627 \u0643\u0646\u062A \u062A\u062D\u062A\u0627\u062C \u0625\u0644\u0649 \u0627\u0644\u0645\u0632\u064A\u062F \u0645\u0646 \u0627\u0644\u0625\u064A\u0636\u0627\u062D \u0646\u0631\u062C\u0648 \u0627\u0644\u0627\u062A\u0635\u0627\u0644 \u0628\u0646\u0627 \u0628\u0623\u062D\u062F \u0648\u0627\u0644\u0648\u0633\u0627\u0626\u0644 \u0627\u0644\u062A\u0627\u0644\u064A\u0629.
label.captcha.abort=\u0644\u0642\u062F \u062A\u062C\u0627\u0648\u0632\u062A \u0627\u0644\u062D\u062F \u0627\u0644\u0623\u0642\u0635\u0649 \u0627\u0644\u0645\u0633\u0645\u0648\u062D \u0628\u0647 \u0641\u0634\u0644 CAPTCHA. \u0641\u0634\u0644 \u0639\u0645\u0644\u064A\u0629 \u0627\u0644\u062A\u0633\u062C\u064A\u0644. \u064A\u0631\u062C\u0649 \u0627\u0644\u0645\u062D\u0627\u0648\u0644\u0629 \u0645\u0631\u0629 \u0623\u062E\u0631\u0649 \u0642\u0628\u0644 \u0627\u0633\u062A\u0626\u0646\u0627\u0641 \u0639\u0645\u0644\u064A\u0629 \u0627\u0644\u062A\u0633\u062C\u064A\u0644. \u0625\u0630\u0627 \u0627\u0633\u062A\u0645\u0631\u062A \u0627\u0644\u0645\u0634\u0643\u0644\u0629\u060C \u064A\u0631\u062C\u0649 \u0627\u0644\u0627\u062A\u0635\u0627\u0644 \u0628\u062F\u0639\u0645 \u0645\u0628\u0627\u0634\u0631 \u0627\u0644\u062A\u062C\u0627\u0631\u0629.
label.ok=\u0645\u0648\u0627\u0641\u0642

label.mandatory.msg=\u0627\u0645\u0644\u0623 \u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0645\u0637\u0644\u0648\u0628\u0629 (\u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0645\u0639 \u0627\u0644\u0639\u0644\u0627\u0645\u0629 * \u0625\u062C\u0628\u0627\u0631\u064A\u0629) \u062B\u0645 \u0627\u0636\u063A\u0637 \u0627\u0644\u062A\u0627\u0644\u064A.
label.financeInformation=\u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0645\u0627\u0644\u064A\u0629
label.investmentInformation=\u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0627\u0633\u062A\u062B\u0645\u0627\u0631\u064A\u0629
label.taxResidenceInformation=\u0645\u0639\u0644\u0648\u0645\u0627\u062A \u0636\u0631\u0627\u0626\u0628 \u0627\u0644\u0625\u0642\u0627\u0645\u0629
label.employmentDetails=\u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0648\u0638\u064A\u0641\u0629
label.generalInformation=\u0628\u064A\u0627\u0646\u0627\u062A \u0639\u0627\u0645\u0629
label.type.chars=\u0627\u0643\u062A\u0628 \u0627\u0644\u062D\u0631\u0648\u0641 \u0627\u0644\u0645\u0648\u062C\u0648\u062F\u0629 \u0641\u064A \u0627\u0644\u0645\u0631\u0628\u0639 \u062B\u0645 \u0627\u0636\u063A\u0637 \u0627\u0644\u062A\u0627\u0644\u064A.
label.termsAndConditionsAccp=\u0623\u0642\u0631 \u0628\u0642\u0628\u0648\u0644\u064A \u0628\u0627\u0644\u0634\u0631\u0648\u0637 \u0648\u0627\u0644\u0623\u062D\u0643\u0627\u0645 \u0641\u064A \u0647\u0630\u0647 \u0627\u0644\u0627\u062A\u0641\u0627\u0642\u064A\u0629 \u0648\u0630\u0644\u0643 \u0628\u0645\u062C\u0631\u062F \u0627\u0644\u062A\u0648\u0642\u064A\u0639 \u0628\u0627\u0644\u0623\u0633\u0641\u0644 :
label.regcomplete.text=\u0627\u0643\u062A\u0645\u0644\u062A \u0639\u0645\u0644\u064A\u0629 \u0627\u0644\u062A\u0633\u062C\u064A\u0644.
label.termsAndConditionsRead=\u0623\u0642\u0631\u0623 \u062C\u064A\u062F\u0627\u064B \u0627\u0644\u0634\u0631\u0648\u0637 \u0648\u0627\u0644\u0623\u062D\u0643\u0627\u0645
label.selectAndNext=\u0627\u062E\u062A\u0631 \u0627\u0644\u0645\u0631\u0628\u0639 \u0645\u0648\u0627\u0641\u0642 \u062B\u0645 \u0627\u0636\u063A\u0637 \u0627\u0644\u062A\u0627\u0644\u064A.
label.iagree=\u0623\u0648\u0627\u0641\u0642 \u0639\u0644\u0649 \u0623\u0646 \u0623\u0643\u0648\u0646 \u0645\u0644\u062A\u0632\u0645 \u0628\u0645\u0648\u062C\u0628 \u0627\u062A\u0641\u0627\u0642\u064A\u0627\u062A \u0627\u0644\u0633\u0648\u0642 \u0627\u0644\u062E\u0627\u0635\u0629 \u0628\u0627\u0644\u0623\u0633\u0648\u0627\u0642 \u0627\u0644\u062A\u064A \u0633\u0648\u0641 \u0623\u062D\u0635\u0644 \u0639\u0644\u0649 \u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A \u0645\u0646\u0647\u0627
label.termsAndConditions1=\u0648\u0623\u0646\u0646\u064A \u0642\u062F  \u0642\u0631\u0623\u062A \u0648\u0641\u0647\u0645\u062A \u0648\u0623\u0648\u0627\u0641\u0642 \u0639\u0644\u0649 \u0627\u062A\u0641\u0627\u0642\u064A\u0629 \u0639\u0645\u064A\u0644 \u0627\u0644\u0623\u0633\u0647\u0645 / \u0627\u0644\u0639\u0642\u0648\u062F/\u0627\u0644\u0639\u0645\u0644\u0627\u062A (\u0627\u0644\u0627\u062A\u0641\u0627\u0642\u064A\u0629) \u0648\u062C\u0645\u064A\u0639 \u0627\u0644\u0634\u0631\u0648\u0637 \u0627\u0644\u0623\u062E\u0631\u0649 \u0627\u0644\u0645\u0634\u0627\u0631 \u0625\u0644\u064A\u0647\u0627 \u0641\u064A \u0627\u0644\u0627\u062A\u0641\u0627\u0642\u064A\u0629 \u0648\u0623\u064A\u0636\u0627\u064B \u062C\u0645\u064A\u0639 \u0627\u0644\u0634\u0631\u0648\u0637 \u0641\u064A \u0647\u0630\u0627 \u0627\u0644\u0645\u0648\u0642\u0639 \u0627\u0644\u0625\u0644\u0643\u062A\u0631\u0648\u0646\u064A\u060C
label.termsAndConditions2=\u0648\u0623\u0646\u0627 \u0623\u0641\u0647\u0645 \u0648\u062A\u0648\u0627\u0641\u0642 \u0639\u0644\u0649 \u0623\u0646 (\u0642\u062F \u064A\u062A\u063A\u064A\u0631 \u0645\u0646 \u0648\u0642\u062A \u0644\u0622\u062E\u0631) \u0627\u0644\u0627\u062A\u0641\u0627\u0642\u064A\u0629 \u0648\u0623\u064A \u0634\u0631\u0648\u0637 \u0648\u0623\u062D\u0643\u0627\u0645 \u0623\u062E\u0631\u0649 \u062A\u062A\u0639\u0644\u0642 \u0628\u0647\u0627\u060C \u0643\u0645\u0627 \u064A\u0646\u0637\u0628\u0642 \u0639\u0644\u0649 \u062A\u0648\u062C\u064A\u0647 \u0639\u0644\u0627\u0642\u062A\u064A \u0645\u0639 \u0627\u0644\u0623\u0639\u0645\u0627\u0644 \u0627\u0644\u062A\u062C\u0627\u0631\u064A\u0629 \u0645\u0628\u0627\u0634\u0631 \u062A\u0631\u064A\u062F.
label.officeAdd=\u0639\u0646\u0648\u0627\u0646 \u0627\u0644\u0645\u0643\u062A\u0628 :

msg.valid.user=\u0627\u0633\u0645 \u0627\u0644\u062F\u062E\u0648\u0644 \u0645\u0642\u0628\u0648\u0644
msg.invalid.user=\u0627\u0633\u0645 \u0627\u0644\u0645\u0633\u062A\u062E\u062F\u0645 \u063A\u064A\u0631 \u0635\u0627\u0644\u062D
msg.suggestions=\u0648\u0647\u0646\u0627 \u0628\u0639\u0636 \u0627\u0644\u0627\u0642\u062A\u0631\u0627\u062D\u0627\u062A...

label.officeAddLine1=\u0645\u0628\u0627\u0634\u0631 \u0644\u0644\u062E\u062F\u0645\u0627\u062A \u0627\u0644\u0645\u0627\u0644\u064A\u0629
label.officeAddLine2=\u0627\u0644\u0645\u0643\u062A\u0628 \u0627\u0644\u0631\u0626\u064A\u0633\u064A
label.officeAddLine3=181 \u0628\u0631\u062C \u0628\u0644\u0627\u062A\u064A\u0646\u064A\u0648\u0645
label.officeAddLine4=\u0639\u0645\u0627\u0631\u0629 \u0631\u0642\u0645 190
label.officeAddLine5=\u0634\u0627\u0631\u0639 2803, \u0645\u0642\u0627\u0637\u0639\u0629 \u0627\u0644\u0633\u064A\u0641
label.officeAddLine6=\u0627\u0644\u0645\u0646\u0627\u0645\u0629
label.officeAddLine7=\u0645\u0645\u0644\u0643\u0629 \u0627\u0644\u0628\u062D\u0631\u064A\u0646

label.officePhone=\u0647\u0627\u062A\u0641
label.officeFax=\u0627\u0644\u0641\u0627\u0643\u0633
label.dubaiContact=\u0631\u0642\u0645 \u0627\u062A\u0635\u0627\u0644 \u062F\u0628\u064A:

label.clickHere=\u0627\u0646\u0642\u0631 \u0647\u0646\u0627 \u0644\u0642\u0631\u0627\u0621\u0629 \u0647\u0630\u0627 \u0627\u0644\u0627\u062A\u0641\u0627\u0642
label.clickHerePrivacyPolicy =\u0633\u064A\u0627\u0633\u0629 \u0627\u0644\u062E\u0635\u0648\u0635\u064A\u0629
label.USD=\u062F\u0648\u0644\u0627\u0631 \u0623\u0645\u0631\u064A\u0643\u064A

label.dialogTitle.warning=\u062A\u062D\u0630\u064A\u0631
label.dialogTitle.message=\u0631\u0633\u0627\u0644\u0629
label.warning.indUser=\u062D\u0633\u0627\u0628\u0627\u062A \u0627\u0644\u0639\u0645\u0644\u0627\u062A\u060C \u0627\u0644\u0639\u0642\u0648\u062F \u0645\u062A\u0627\u062D\u0629 \u0641\u0642\u0637 \u0644\u0644\u0639\u0645\u0644\u0627\u0621 \u0627\u0644\u0630\u064A\u0646 \u0644\u062F\u064A\u0647\u0645 \u0635\u0627\u0641\u064A \u0645\u0645\u062A\u0644\u0643\u0627\u062A (\u0644\u0627 \u064A\u0634\u0645\u0644 \u0627\u0644\u0633\u0643\u0646) \u0628\u0642\u064A\u0645\u0629 \u0645\u0644\u064A\u0648\u0646 \u062F\u0648\u0644\u0627\u0631 \u0623\u0645\u0631\u064A\u0643\u064A \u0623\u0648 \u0645\u0627 \u064A\u0639\u0627\u062F\u0644\u0647
label.warning.copUser=\u0646\u062D\u0646 \u0643\u0634\u0631\u0643\u0629 \u0648\u0634\u0631\u0643\u0627\u0621 \u0648\u0645\u062A\u0636\u0627\u0645\u0646\u064A\u0646 \u0648\u0623\u064A \u0645\u0634\u0631\u0648\u0639\u0627\u062A \u062A\u062C\u0627\u0631\u064A\u0629 \u0623\u062E\u0631\u0649\u060C \u0644\u062F\u064A\u0646\u0627 \u0623\u0635\u0648\u0644 \u0645\u0627\u0644\u064A\u0629 \u0645\u062A\u0627\u062D\u0629 \u0644\u0644\u0627\u0633\u062A\u062B\u0645\u0627\u0631 \u0644\u0627 \u062A\u0642\u0644 \u0639\u0646 \u0645\u0644\u064A\u0648\u0646 \u062F\u0648\u0644\u0627\u0631 \u0623\u0645\u0631\u064A\u0643\u064A (\u0623\u0648 \u0645\u0627 \u064A\u0639\u0627\u062F\u0644\u0647)
label.msg.content=\u0635\u0627\u0641\u064A \u0642\u064A\u0645\u0629 \u0627\u0644\u0645\u0645\u062A\u0644\u0643\u0627\u062A \u0644\u062F\u064A\u0643 \u0644\u0627 \u062A\u0624\u0647\u0644\u0643 \u0644\u0644\u062D\u0635\u0648\u0644 \u0639\u0644\u0649 \u062D\u0633\u0627\u0628 \u0639\u0645\u0644\u0627\u062A \u0623\u0648 \u0639\u0642\u0648\u062F\u060C \u0647\u0644 \u062A\u0631\u063A\u0628 \u0641\u064A \u0627\u0644\u062D\u0635\u0648\u0644 \u0639\u0644\u0649 \u062D\u0633\u0627\u0628 \u0623\u0633\u0647\u0645 \u061F
label.close=\u0625\u063A\u0644\u0627\u0642

label.iagreeAccreditedInvestor=\u0645\u0648\u0627\u0641\u0642 \u0643\u0645\u0633\u062A\u062B\u0645\u0631 \u0645\u0639\u062A\u0645\u062F
label.AccInvesIndividual=\u0625\u0639\u0644\u0627\u0646 \u0627\u0644\u0645\u0633\u062A\u062B\u0645\u0631 \u0627\u0644\u0645\u0639\u062A\u0645\u062F (\u0637\u0644\u0628 \u0641\u0631\u062F\u064A)
label.AccInvesJoint=\u0625\u0639\u0644\u0627\u0646 \u0627\u0644\u0645\u0633\u062A\u062B\u0645\u0631 \u0627\u0644\u0645\u0639\u062A\u0645\u062F (\u0637\u0644\u0628 \u0645\u0634\u062A\u0631\u0643)
label.AccInvesCorporate=\u0625\u0639\u0644\u0627\u0646 \u0627\u0644\u0645\u0633\u062A\u062B\u0645\u0631 \u0627\u0644\u0645\u0639\u062A\u0645\u062F (\u0637\u0644\u0628 \u0634\u0631\u0643\u0629)

label.RiskDiscAgree=\u0627\u062A\u0641\u0627\u0642\u064A\u0629 \u0627\u0641\u0635\u0627\u062D\u0627\u062A \u0627\u0644\u0645\u062E\u0627\u0637\u0631
label.RiskDiscDocument=\u0645\u0628\u0627\u0634\u0631 \u062A\u062F\u0627\u0648\u0644
label.Nationality=\u0627\u0644\u062C\u0646\u0633\u064A\u0629

option.ApproxAnulIncom.1=0 \u2013 $49K
option.ApproxAnulIncom.2=$50K \u2013 $99K
option.ApproxAnulIncom.3=$100K \u2013 $199K
option.ApproxAnulIncom.4=>$200K

option.ApproxNetWorth.1=0 \u2013 $99K
option.ApproxNetWorth.2=$100K \u2013 $499K
option.ApproxNetWorth.3=$500K \u2013 $999K
option.ApproxNetWorth.4=>$999K
label.officePhoneVal1=+97317556139
label.officeFaxval1=+97317556124
label.dubaiContactVal1=000 567 800 (971+)

#lead Registration

label.signUp=\u062A\u0633\u062C\u064A\u0644

option.wayOFHear.0=\u062A\u0644\u064A\u0641\u0632\u064A\u0648\u0646
option.wayOFHear.1=\u0635\u062F\u064A\u0642
option.wayOFHear.2=\u062D\u0644\u0642\u0629 \u062F\u0631\u0627\u0633\u064A\u0629
option.wayOFHear.3=\u0645\u062D\u0631\u0643 \u0627\u0644\u0628\u062D\u062B
option.wayOFHear.4=\u0645\u0646\u062A\u062F\u0649
option.wayOFHear.5=Mubasher.info

option.howOftenTrade.0=\u0645\u0646 0-9 \u0645\u0631\u0627\u062A \u0641\u064A \u0627\u0644\u0634\u0647\u0631
option.howOftenTrade.1=\u0645\u0646 10-99 \u0645\u0631\u0629 \u0641\u064A \u0627\u0644\u0634\u0647\u0631
option.howOftenTrade.2=\u0623\u0643\u062B\u0631 \u0645\u0646 100 \u0645\u0631\u0629 \u0641\u0649 \u0627\u0644\u0634\u0647\u0631

label.wayOFHear=\u0643\u064A\u0641 \u0633\u0645\u0639\u062A \u0639\u0646\u0627\u061F
label.howOftenTrade=\u0643\u0645 \u0645\u0631\u0629 \u062A\u0642\u0648\u0645 \u0628\u0627\u0644\u062A\u062F\u0627\u0648\u0644 \u0641\u064A \u0627\u0644\u0639\u0627\u062F\u0629 \u061F

label.selectNationality=\u0625\u062E\u062A\u0631 \u0627\u0644\u062C\u0646\u0633\u064A\u0629

label.successMessage=\u062A\u0645 \u0627\u0644\u062A\u0633\u062C\u064A\u0644 \u0628\u0646\u062C\u0627\u062D


#Margin Trading

label.enable.margintrading=\u0646\u0648\u0639 \u0627\u0644\u062D\u0633\u0627\u0628
label.marginTrading=\u0627\u0644\u062A\u062F\u0627\u0648\u0644 \u0628\u0627\u0644\u0647\u0627\u0645\u0634
label.howExpeInMarginTrading=\u0647\u0644 \u0642\u0645\u062A \u0628\u0627\u0633\u062A\u062E\u062F\u0627\u0645 \u0627\u0644\u0647\u0627\u0645\u0634 \u0644\u0644\u062A\u062F\u0627\u0648\u0644 \u0645\u0646 \u0642\u0628\u0644
label.howExpMsgContent=\u0646\u0638\u0631\u0627 \u0644\u0639\u062F\u0645 \u0627\u0633\u062A\u062E\u062F\u0627\u0645\u0643 \u0627\u0644\u0647\u0627\u0645\u0634 \u0645\u0646 \u0642\u0628\u0644\u060C \u0646\u0646\u0635\u062D\u0643 \u0628\u0627\u0644\u063A\u0627\u0621 \u062A\u0642\u062F\u064A\u0645 \u0637\u0644\u0628 \u0627\u0644\u0647\u0627\u0645\u0634.
label.howExpMsgOpt1=\u062A\u0623\u0643\u064A\u062F \u062A\u0641\u0639\u064A\u0644 \u0627\u0644\u062A\u062F\u0627\u0648\u0644 \u0628\u0627\u0644\u0647\u0627\u0645\u0634
label.howExpMsgOpt2=\u0625\u0644\u063A\u0627\u0621 \u062A\u0641\u0639\u064A\u0644 \u0627\u0644\u062A\u062F\u0627\u0648\u0644 \u0628\u0627\u0644\u0647\u0627\u0645\u0634
label.MarginTradeAgree=\u0627\u062A\u0641\u0627\u0642\u064A\u0629 \u0627\u0644\u062A\u062F\u0627\u0648\u0644 \u0628\u0627\u0644\u0647\u0627\u0645\u0634

label.ssl.certificate=\u062D\u0648\u0644 \u0627\u0644\u0634\u0647\u0627\u062F\u0627\u062A SSL.
label.ssl.certificate.title=\u0627\u0646\u0642\u0631 \u0644\u0644\u062A\u062D\u0642\u0642 - \u0627\u062E\u062A\u0627\u0631 \u0647\u0630\u0627 \u0627\u0644\u0645\u0648\u0642\u0639 \u0633\u064A\u0645\u0627\u0646\u062A\u064A\u0643 SSL \u0644\u062A\u0623\u0645\u064A\u0646 \u0627\u0644\u0627\u062A\u0635\u0627\u0644\u0627\u062A \u0648\u0627\u0644\u062A\u062C\u0627\u0631\u0629 \u0627\u0644\u0625\u0644\u0643\u062A\u0631\u0648\u0646\u064A\u0629 \u0648\u0633\u0631\u064A\u0629.
label.email.notSame=\u0643\u0644\u0627 \u0639\u0646\u0648\u0627\u0646 \u0627\u0644\u0628\u0631\u064A\u062F \u0627\u0644\u0625\u0644\u0643\u062A\u0631\u0648\u0646\u064A \u0648\u0642\u062F \u064A\u0643\u0648\u0646 \u0646\u0641\u0633\u0647.
label.confirmemail=\u062A\u0623\u0643\u064A\u062F \u0627\u0644\u0628\u0631\u064A\u062F \u0627\u0644\u0625\u0644\u0643\u062A\u0631\u0648\u0646\u064A
label.category.info=* \u0627\u0644\u0631\u062C\u0627\u0621 \u0627\u062E\u062A\u064A\u0627\u0631 \"\u0627\u0644\u0641\u0646\u064A\u0629\" \u0627\u0644\u0641\u0626\u0629 \u0625\u0630\u0627 \u0643\u0646\u062A \u0645\u0648\u0638\u0641\u0627 \u0641\u064A \u0628\u0646\u0643 \u0623\u0648 \u0634\u0631\u0643\u0629 \u062E\u062F\u0645\u0627\u062A \u0645\u0627\u0644\u064A\u0629 \u0623\u0648 \u0631\u062C\u0644 \u0623\u0639\u0645\u0627\u0644
label.dob=\u062A\u0627\u0631\u064A\u062E \u0627\u0644\u0645\u064A\u0644\u0627\u062F
label.trading.currency=\u062A\u062F\u0627\u0648\u0644 \u0627\u0644\u0639\u0645\u0644\u0627\u062A
label.trading.detail=\u062A\u062C\u0627\u0631\u0629 \u0627\u0644\u062A\u0641\u0635\u064A\u0644
label.selfemployed=\u0627\u0644\u0639\u0627\u0645\u0644\u064A\u0646 \u0644\u062D\u0633\u0627\u0628\u0647\u0645 \u0627\u0644\u062E\u0627\u0635
label.residencyId=\u0627\u0644\u0648\u0637\u0646\u064A\u0629 / \u0627\u0644\u0625\u0642\u0627\u0645\u0629 \u0631\u0642\u0645
label.unique.secondaryNo=\u0644\u0627 \u064A\u0646\u0628\u063A\u064A \u0623\u0646 \u064A\u0643\u0648\u0646 \u0639\u062F\u062F \u0627\u0644\u062B\u0627\u0646\u0648\u064A\u0629 \u0645\u0633\u0627\u0648\u064A\u0627 \u0644\u0639\u062F\u062F \u0627\u0644\u0627\u0628\u062A\u062F\u0627\u0626\u064A\u0629 \u0623\u0648 \u0631\u0642\u0645 \u0627\u0644\u0645\u0648\u0628\u0627\u064A\u0644.
label.countrycode=\u0643\u0648\u062F \u0627\u0644\u0628\u0644\u062F
label.tradingCurncy.tip=\u0627\u062E\u062A\u0631 \u0627\u0644\u0639\u0645\u0644\u0629 \u0627\u0644\u062A\u064A \u062A\u0631\u064A\u062F \u0627\u0644\u062A\u062F\u0627\u0648\u0644 \u0641\u064A
label.either.prmryScndry=\u0643\u0646\u062A\u060C \u0641\u0647\u0630\u0647 \u0648\u0636\u0639 \u0625\u0645\u0627 \u0631\u0642\u0645 \u0627\u0644\u0623\u0648\u0644\u064A\u0629 \u0623\u0648 \u0627\u0644\u062B\u0627\u0646\u0648\u064A\u0629 \u0639\u062F\u062F.
label.confirmemail.tip=\u0623\u0636\u0641 \u062A\u0623\u0643\u064A\u062F \u0627\u0644\u0628\u0631\u064A\u062F \u0627\u0644\u0625\u0644\u0643\u062A\u0631\u0648\u0646\u064A \u0647\u0646\u0627.
label.err.agelimit=\u064A\u062C\u0628 \u0623\u0646 \u064A\u0643\u0648\u0646 \u0627\u0644\u0645\u0633\u062A\u062E\u062F\u0645 \u0623\u0642\u062F\u0645 \u0645\u0646 18 \u0633\u0646\u0648\u0627\u062A
label.view.agreemment=\u0639\u0631\u0636 \u0627\u0644\u0625\u062A\u0641\u0627\u0642\u064A\u0629

# Agrement form page URL list #
url.customer.agreement=<%= @institution_home %>/en/DUTrade_Trading_Services_Customer_Agreement.html
url.privacyPolicy.agreement=<%= @institution_home %>/en/privacy_policy.html
url.accreditedInvestor.form=<%= @institution_home %>/downloads/forms/Accredited Investor Declaration (Individual Application ).pdf
url.accreditedInvestor.jointApplication.form=<%= @institution_home %>/downloads/forms/Accredited Investor Declaration (Joint Application).pdf
url.accreditedInvestor.coperateApplication.form=<%= @institution_home %>/downloads/forms/Accredited Investor Declaration (Corporate Application) (2).pdf
url.riskDisclosure.form=<%= @institution_home %>/downloads/forms/DUTrade Risk Disclosure.pdf
url.marginTrading.agreement=<%= @institution_home %>/downloads/forms/DUTrade_Margin_Trading_Agreement.pdf
