<?xml version="1.0" encoding="UTF-8"?>

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!--Service-->
    <alias alias="remoteTemplate" name="remoteOMSConnectorJboss"/>
    <!--  <alias alias="remoteTemplate" name="remoteOMSConnectorJboss"/>  -->
    <!--<alias alias="remoteTemplate" name="remoteOMSConnectorWS"/>-->
    <bean id="jbossOMSRemoteEnvironment" class="org.springframework.jndi.JndiTemplate" lazy-init="true">
        <property name="environment">
            <props>
                <prop key="java.naming.provider.url">jnp://<%= @bo_oms_ip %>:1099</prop>
                <!--<prop key="java.naming.provider.url">jnp://192.168.13.50:1099</prop>-->
                <prop key="java.naming.factory.initial">org.jnp.interfaces.NamingContextFactory</prop>
                <prop key="java.naming.factory.url.pkgs">org.jboss.naming:org.jnp.interfaces</prop>
            </props>
        </property>
    </bean>

    <bean id="wsOMSRemoteEnvironment" class="org.springframework.jndi.JndiTemplate" lazy-init="true">
        <property name="environment">
            <props>
                <!--<prop key="java.naming.provider.url">iiop://192.168.13.35:2809</prop>-->
                <!--<prop key="java.naming.factory.initial">com.ibm.websphere.naming.WsnInitialContextFactory</prop>-->


                <!--<prop key="java.naming.provider.url">iiop://192.168.13.35:2809</prop>-->
                <!--<prop key="java.naming.factory.initial">com.ibm.websphere.naming.WsnInitialContextFactory</prop>-->


                <!--<prop key="java.naming.provider.url">iiop://localhost:2809</prop> -->
                <prop key="java.naming.provider.url">iiop://192.168.13.35:2809</prop>
                <prop key="java.naming.factory.initial">com.ibm.websphere.naming.WsnInitialContextFactory</prop>
                <prop key="org.omg.CORBA.ORBClass">com.ibm.CORBA.iiop.ORB</prop>
            </props>
        </property>
    </bean>

    <bean id="remoteOMSConnectorJboss"
          class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean" lazy-init="true">
        <property name="jndiName" value="ejb/WebConnectorFacade"/>
        <property name="resourceRef" value="false"/>
        <property name="businessInterface" value="com.mubasher.connectors.web.session.WebConnectorFacade"/>
        <property name="homeInterface" value="com.mubasher.connectors.web.session.WebConnectorFacadeHome"/>
        <property name="jndiTemplate" ref="jbossOMSRemoteEnvironment"/>
        <property name="refreshHomeOnConnectFailure" value="true"/>
    </bean>

    <bean id="remoteOMSConnectorWS"
          class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean" lazy-init="true">
        <property name="jndiName" value="ejb/WebConnectorFacade"/>
        <property name="resourceRef" value="false"/>
        <property name="businessInterface" value="com.mubasher.connectors.web.session.WebConnectorFacade"/>
        <property name="homeInterface" value="com.mubasher.connectors.web.session.WebConnectorFacadeHome"/>
        <property name="jndiTemplate" ref="wsOMSRemoteEnvironment"/>
        <property name="refreshHomeOnConnectFailure" value="true"/>
    </bean>


    <bean id="userRegService" class="com.directfn.tw.app.service.UserRegistrationService" lazy-init="true">
        <property name="webConnector" ref="remoteTemplate"/>
    </bean>


</beans>
