<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/userreg-services.xml</param-value>
    </context-param>


    <filter>
    <filter-name>charsetFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
</filter>

<filter-mapping>
    <filter-name>charsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>userreg</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DataLoader</servlet-name>
        <servlet-class>com.directfn.tw.app.servlets.DataLoader</servlet-class>
        <init-param>
           <param-name>INST_ID</param-name>
           <param-value><%= @institution_id %></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Kaptcha</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Kaptcha</servlet-name>
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>


    <!--non secure -->
    <servlet-mapping>
        <servlet-name>userreg</servlet-name>
        <url-pattern>*.s</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <!--Compress filter-->
    <filter>
        <filter-name>compress</filter-name>
        <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
    </filter>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Uncomment to allow compressing javascript -->
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>

    <!-- Uncomment to allow compressing css -->
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>

    <!-- Uncomment to allow compressing html pages (unsecured public) -->
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.s</url-pattern>
    </filter-mapping>

    <!-- Uncomment to allow compressing html pages (secured private) -->
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.f</url-pattern>
    </filter-mapping>

    <!-- Uncomment to allow compressing ajax requests -->
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.x</url-pattern>
    </filter-mapping>

    <!-- catch-all-->
    <!--<error-page>-->
        <!--<exception-type>java.lang.Throwable</exception-type>-->
        <!--<location>/home.f?method=showErrorPage</location>-->
    <!--</error-page>-->

    <error-page>
        <error-code>404</error-code>
        <location>/home.f?method=showErrorPage&amp;err=404</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <!--Internal server error  -->
        <location>/home.f?method=showErrorPage&amp;err=500</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <!--Forbidden  -->
        <location>/home.f?method=showErrorPage&amp;err=403</location>
    </error-page>

</web-app>
