#SET ALL for all possible Combinations or set the required base 
PRICE_DB_DRIVER=oracle.jdbc.driver.OracleDriver
PRICE_DB_URL=jdbc:Oracle:thin:@<%= @price_db_host %>:1521:<%= @price_db_sid %>
PRICE_DB_USER=<%= @price_db_username %>
PRICE_DB_PASSWORD=<%= @price_db_password %>
exchanges=<%= @exchanges %>

#GDC_WS_URL=http://75.124.69.66:8383/MubasherPriceWS/UpdateSnapShotService
GDC_WS_URL=http://data.directfn.com/services/UpdateSnapShotService
#GDC_WS_URL=http://data.directfn.com/services/PriceDataService

#Logging Details
log.component=CM
log.path=./logs
log.server.threshold=TRACE
log.client.threshold=INFO
log.file.threshold=INFO
log.in.threshold=INFO 
log.out.threshold=INFO
log.console.threshold=TRACE
