#!/bin/bash
NOHUP=/usr/bin/nohup

#title = SNAPSHOT UPDATOR
cd <%= @suc_home %>

CLASSPATH=$CLASSPATH:./lib/axis.jar
CLASSPATH=$CLASSPATH:./lib/commons-discovery-0.2.jar
CLASSPATH=$CLASSPATH:./lib/commons-logging-api.jar
CLASSPATH=$CLASSPATH:./lib/jbossall-client.jar
CLASSPATH=$CLASSPATH:./lib/log4j-1.2.14.jar
CLASSPATH=$CLASSPATH:./lib/ojdbc14.jar
CLASSPATH=.:$CLASSPATH

<%= @java_path %>/bin/java -Xmx<%= @memory_limit %>m -DLDC_SU -cp $CLASSPATH  com.mubasher.pricews.webservice.jaws.TestSnapShot > nohup_su.out &
echo ON
exit
