# DB Sync Validator Properties file

# IP of the running machine
WEB_SERVER_IP     <%= @private_ip %>

# Set non using port
WEB_SERVER_PORT   8899

# No need to change these values, this is NOT the application login
USER_NAME         sync_user
PASSWORD          123

JDBC.OMS.DBDRIVER   oracle.jdbc.driver.OracleDriver

# PRODUCTION JDBC.OMS.DB.URL     jdbc:oracle:thin:@172.17.240.240:1521:MFS1
# LOCAL DEV JDBC.OMS.DB.URL      jdbc:oracle:thin:@10.1.200.52:1521/MFSTESTD
# LOCAL QA  JDBC.OMS.DB.URL      jdbc:oracle:thin:@10.1.200.61:1521/MFSTESTC

JDBC.OMS.DB.URL      jdbc:oracle:thin:@<%= @fo_db_host %>:1521/<%= @fo_db_sid %>

# PRODUCTION       MFS_FO_OMS_RO
# LOCAL DEV        mdc_mfs_oms2_ro
# LOCAL QA         mdc_mfs_oms2_ro
JDBC.USER           mdc_mfs_oms2_ro

JDBC.PASSWORD       password

# DB read write user name  PRODUCTION - MFS_FO_OMS
# for PRODUCTION - MFS_FO_OMS
# for Local dev - MDC_MFS_OMS2
READ_WRITE_USER_NAME    MDC_MFS_OMS2

# production old_oms_db_link2
# local dev old_oms_db_link
DB_LINK                 old_oms_db_link


# SMS validation enabled or not   - true if sms otp required, false otherwise
OTP_ENABLED  false

# Back office url for sms sending - replace below url ip and port from production back office ip and port
BACKOFFICE_URL      http://<%= @bo_private_ip %>:8080/MubasherFrontOfficeConnector/ProcessRequest

# Sync URL for front office and back office
FRONTOFFICE_SYNC_URL    http://<%= @fo_private_ip %>:8080/BackOfficeConnector/updateFrontOffice
BACKOFFICE_SYNC_URL     http://<%= @bo_private_ip %>:8080/MubasherFrontOfficeOMSConnectorWebService/updateBackOffice

