<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.directfn.oms.core.db_sync_validator"/>

    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/js/**" location="/resources/js/"/>
    <mvc:resources mapping="/resources/css/**" location="/resources/css/"/>
    <mvc:resources mapping="/resources/image/**" location="/resources/image/"/>

    <bean class="com.directfn.oms.core.db_sync_validator.auth.Listener"/>

   <!-- freemarker config -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/views/"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="requestContextAttribute" value="reqCtx"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="cache" value="true"/>
    </bean>


    <bean id="applicationContextProvider" class="com.directfn.oms.core.db_sync_validator.util.ApplicationContextProvider"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000"/>
    </bean>

    <bean id="applicationProperties" class="com.directfn.oms.core.db_sync_validator.bean.ApplicationPropertiesBean">
        <property name="rootFilePath" value="#{systemProperties['user.dir']}/classFiles/"/>
        <property name="compareFilePath" value="#{systemProperties['user.dir']}/classFiles/CompareFiles/"/>
        <property name="inconsistentFilePath" value="#{systemProperties['user.dir']}/classFiles/InconsistentFiles/"/>
        <property name="logFilePath" value="#{systemProperties['user.dir']}/logs/DBSyncValidator.log"/>
        <property name="menuItems">
            <list>
                <value>Overview</value>
                <value>File_Upload</value>
                <value>Configuration</value>
                <value>Sync_File_Manager</value>
                <value>Inconsistent_File_Manager</value>
                <value>Log_Files</value>
            </list>
        </property>
        <property name="accountMap">
            <map>
            <% @useraccounts.each do |account,cred| -%>
              <entry key="<%= account %>">
                <bean class="com.directfn.oms.core.db_sync_validator.bean.ConsoleAccount">
                <% @useraccounts["#{account}"].each do |key,value| -%>
                  <property name="<%= key %>" value="<%= value %>"/>
                <% end %>
                </bean>
              </entry>
            <% end %>
            </map>
        </property>
    </bean>
</beans>
