<JobInfo>
    <!--#Please Use Following to configure ManualPreOpenTasks-->
    <!--<Job>-->
    <!--<jobName>Manual_Pre_Open_Tasks</jobName>-->
    <!--<className>com.directfn.operation_server_logic.ManualPreOpenJob</className>-->
    <!--<configFile>ManualPreOpen_config-template.properties</configFile>-->
    <!--</Job>-->
    <!--#Please Use Following to configure TradingMarketStateChangeTasks-->
    <!--<Job>-->
    <!--<jobName>TradingMarketStateChange_Task</jobName>-->
    <!--<className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>-->
    <!--<configFile>TradingMarketStateChange_config-template.properties</configFile>-->
    <!--</Job>-->
    <!--#Please Use Following to configure ManualEODTasks-->
    <!--<Job>-->
    <!--<jobName>Manual_EOD_Task</jobName>-->
    <!--<className>com.directfn.operation_server_logic.ManualEODJob</className>-->
    <!--<configFile>ManualEOD_config-template.properties</configFile>-->
    <!--</Job>-->
    <!-- DBFS_DIFX 
    <Job>
        <jobName>DIFX_EQTY_Preopen_5</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DIFX_EQTY_Preopen_5.properties</configFile>
        <description>change trading market status to pre-open for exchange=DIFX,market code=EQTY and Executing
            broker=5
        </description>
    </Job>
    <Job>
        <jobName>DIFX_EQTY_ManualPreopen_5</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob
        </className>
        <configFile>Market_Manual_Preopen/DIFX_EQTY_ManualPreopen_5.properties</configFile>
        <description>run Pre-open for exchange=DIFX,market code=EQTY and Executing broker=5</description>
    </Job>
    <Job>
        <jobName>DIFX_EQTY_open_5</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DIFX_EQTY_open_5.properties</configFile>
        <description>change trading market status to open for exchange=DIFX,market code=EQTY and Executing broker=5
        </description>
    </Job>
    <Job>
        <jobName>DIFX_EQTY_Close_5</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DIFX_EQTY_Close_5.properties</configFile>
        <description>change trading market status to close for exchange=DIFX,market code=EQTY and Executing broker=5
        </description>
    </Job>
    <Job>
        <jobName>DIFX_EQTY_ManualEOD_5</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/DIFX_EQTY_ManualEOD_5.properties</configFile>
        <description>run EOD for exchange=DIFX,market code=EQTY and Executing broker=5</description>
    </Job>-->
    <!--DBFS_TEST_ROR_TRIFX
    <Job>
        <jobName>TDWL_510_Preopen_12</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/TDWL_510_Preopen_12.properties</configFile>
        <description>change trading market status to pre-open for exchange=TDQL,market code=510 and executing
            broker=12
        </description>
    </Job>
    <Job>
        <jobName>TDWL_510_ManualPreopen_12</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/TDWL_510_ManualPreopen_12.properties</configFile>
        <description>run pre-open for exchange=TDWL,market code=510 and executing broker=12</description>
    </Job>
    <Job>
        <jobName>TDWL_510_Open_12</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/TDWL_510_Open_12.properties</configFile>
        <description>change trading market status to open for exchange=TDWL,market code=510 and executing broker=12
        </description>
    </Job>

    <Job>
        <jobName>TDWL_510_ManualEOD_12</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/TDWL_510_ManualEOD_12.properties</configFile>
        <description>run EOD for exchange=TDWL,market code=510 and executing broker=12</description>
    </Job>-->
    <!--DBFS_TEST_TRFIX
    <Job>
        <jobName>LSE_ALL_Preopen_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/LSE_ALL_Preopen_8.properties</configFile>
        <description>change trading market status to pre-open for exchange=LSE,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>LSE_ALL_ManualPreopen_8</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/LSE_ALL_ManualPreopen_8.properties</configFile>
        <description>run pre-open for exchange=LSE,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>LSE_ALL_Open_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/LSE_ALL_Open_8.properties</configFile>
        <description>change trading market status to open for exchange=LSE,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>LSE_ALL_ManualEOD_8</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/LSE_ALL_ManualEOD_8.properties</configFile>
        <description>run EOD for exchange=LSE</description>
    </Job>-->
    <!--NSDQ
    <Job>
        <jobName>NSDQ_ALL_Preopen_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQ_ALL_Preopen_8.properties</configFile>
        <description>change trading market status to pre-open for exchange=NSDQ,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQ_ALL_ManualPreopen_8</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/NSDQ_ALL_ManualPreopen_8.properties</configFile>
        <description>run pre-open for exchange=NSDQ,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>NSDQ_ALL_Open_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQ_ALL_Open_8.properties</configFile>
        <description>change trading market status to open for exchange=NSDQ,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>NSDQ_ALL_Close_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQ_ALL_Close_8.properties</configFile>
        <description>change trading market status to close for exchange=NSDQ,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>NSDQ_ALL_ManualEOD_8</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/NSDQ_ALL_ManualEOD_8.properties</configFile>
        <description>run EOD for exchange=NSDQ,market code=ALL and executing broker=8</description>
    </Job>-->
    <!--ADSM_ALL 
    <Job>
        <jobName>ADSM_ALL_Preopen_1</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/ADSM_ALL_Preopen_1.properties</configFile>
        <description>change trading market status to pre-open for exchange=ADSM,market code=ALL and executing broker=1
        </description>
    </Job>
    <Job>
        <jobName>ADSM_ALL_ManualPreopen_1</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/ADSM_ALL_ManualPreopen_1.properties</configFile>
        <description>run pre-open for exchange=ADSM,market code=ALL and executing broker=1</description>
    </Job>-->
    <!--AMEX_ALL
    <Job>
        <jobName>AMEX_ALL_Preopen_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/AMEX_ALL_Preopen_8.properties</configFile>
        <description>change trading market status to pre-open for exchange=AMEX,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>AMEX_ALL_ManualPreopen_8</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/AMEX_ALL_ManualPreopen_8.properties</configFile>
        <description>run pre-open for exchange=AMEX,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>AMEX_ALL_Open_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/AMEX_ALL_Open_8.properties</configFile>
        <description>change trading market status to open for exchange=AMEX,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>AMEX_ALL_Close_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/AMEX_ALL_Close_8.properties</configFile>
        <description>change trading market status to close for exchange=AMEX,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>AMEX_ALL_ManualEOD_8</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/AMEX_ALL_ManualEOD_8.properties</configFile>
        <description>run EOD for exchange=AMEX,market code=ALL and executing broker=8</description>
    </Job>-->
    <!-- BSE_510 
    <Job>
        <jobName>BSE_510_Preopen_7</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/BSE_510_Preopen_7.properties</configFile>
        <description>change trading market status to pre-open for exchange=BSE,market code=510 and executing broker=7
        </description>
    </Job>
    <Job>
        <jobName>BSE_510_ManualPreopen_7</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/BSE_510_ManualPreopen_7.properties</configFile>
        <description>run pre-open for exchange=BSE,market code=510 and executing broker=7</description>
    </Job>
    <Job>
        <jobName>BSE_510_Open_7</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/BSE_510_Open_7.properties</configFile>
        <description>change trading market status to open for exchange=BSE,market code=510 and executing broker=7
        </description>
    </Job>

    <Job>
        <jobName>BSE_510_ManualEOD_7</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/BSE_510_ManualEOD_7.properties</configFile>
        <description>run EOD for exchange=BSE,market code=510 and executing broker=7</description>
    </Job>-->
    <!-- CASE_ALL 
    <Job>
        <jobName>CASE_ALL_Preopen_34</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Preopen_34.properties</configFile>
        <description>change trading market status to pre-open for exchange=CASE,market code=ALL and executing
            broker=34
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_ManualPreopen_34</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/CASE_ALL_ManualPreopen_34.properties</configFile>
        <description>run pre-open for exchange=CASE,market code=ALL and executing broker=34</description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Open_34</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Open_34.properties</configFile>
        <description>change trading market status to open for exchange=CASE,market code=ALL and executing broker=34
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Close_34</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Close_34.properties</configFile>
        <description>change trading market status to close for exchange=CASE,market code=ALL and executing broker=34
        </description>
    </Job>

    <Job>
        <jobName>CASE_ALL_ManualEOD_34</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/CASE_ALL_ManualEOD_34.properties</configFile>
        <description>run EOD for exchange=CASE,market code=ALL and executing broker=34</description>
    </Job>-->
    <!-- CASE_ALL_Config2 
    <Job>
        <jobName>CASE_ALL_Preopen_34_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Preopen_34_2.properties</configFile>
        <description>change trading market status to pre-open for exchange=CASE,market code=ALL and executing
            broker=34
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_ManualPreopen_34_2</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/CASE_ALL_ManualPreopen_34_2.properties</configFile>
        <description>run pre-open for exchange=CASE,market code=ALL and executing broker=34</description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Open_34_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Open_34_2.properties</configFile>
        <description>change trading market status to open for exchange=CASE,market code=ALL and executing broker=34
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Close_34_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Close_34_2.properties</configFile>
        <description>change trading market status to close for exchange=CASE,market code=ALL and executing broker=34
        </description>
    </Job>

    <Job>
        <jobName>CASE_ALL_ManualEOD_34_2</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/CASE_ALL_ManualEOD_34_2.properties</configFile>
        <description>run EOD for exchange=CASE,market code=ALL and executing broker=34</description>
    </Job>-->

    <!-- CASE_ALL_BELTONE 
    <Job>
        <jobName>CASE_ALL_Preopen_59</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Preopen_59.properties</configFile>
        <description>change trading market status to pre-open for exchange=CASE,market code=ALL and executing
            broker=59
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_ManualPreopen_59</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/CASE_ALL_ManualPreopen_59.properties</configFile>
        <description>run pre-open for exchange=CASE,market code=ALL and executing broker=59</description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Open_59</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Open_59.properties</configFile>
        <description>change trading market status to open for exchange=CASE,market code=ALL and executing broker=59
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Close_59</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Close_59.properties</configFile>
        <description>change trading market status to close for exchange=CASE,market code=ALL and executing broker=59
        </description>
    </Job>

    <Job>
        <jobName>CASE_ALL_ManualEOD_59</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/CASE_ALL_ManualEOD_59.properties</configFile>
        <description>run EOD for exchange=CASE,market code=ALL and executing broker=59</description>
    </Job>-->
    <!-- CASE_ALL_BELTONE_Config2 
    <Job>
        <jobName>CASE_ALL_Preopen_59_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Preopen_59_2.properties</configFile>
        <description>change trading market status to pre-open for exchange=CASE,market code=ALL and executing
            broker=59
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_ManualPreopen_59_2</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/CASE_ALL_ManualPreopen_59_2.properties</configFile>
        <description>run pre-open for exchange=CASE,market code=ALL and executing broker=59</description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Open_59_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Open_59_2.properties</configFile>
        <description>change trading market status to open for exchange=CASE,market code=ALL and executing broker=59
        </description>
    </Job>
    <Job>
        <jobName>CASE_ALL_Close_59_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/CASE_ALL_Close_59_2.properties</configFile>
        <description>change trading market status to close for exchange=CASE,market code=ALL and executing broker=59
        </description>
    </Job>

    <Job>
        <jobName>CASE_ALL_ManualEOD_59_2</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/CASE_ALL_ManualEOD_59_2.properties</configFile>
        <description>run EOD for exchange=CASE,market code=ALL and executing broker=59</description>
    </Job>-->

    <!--DFM_ALL-->
    <!--<Job>
        <jobName>DFM_ALL_Preopen_1</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DFM_ALL_Preopen_1.properties</configFile>
        <description>change trading market status to pre-open for exchange=DFM,market code=ALL and executing broker=1
        </description>
    </Job>
    <Job>
        <jobName>DFM_ALL_ManualPreopen_1</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/DFM_ALL_ManualPreopen_1.properties</configFile>
        <description>run pre-open for exchange=DFM,market code=ALL and executing broker=1</description>
    </Job> -->

    <Job>
        <jobName>DFM_ALL_ManualEOD_1</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/DFM_ALL_ManualEOD_1.properties</configFile>
        <description>run EOD for exchange=DFM,market code=ALL and executing broker=1</description>
    </Job>

    <!-- DIFX_ALL 
    <Job>
        <jobName>DIFX_ALL_Preopen_1</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DIFX_ALL_Preopen_1.properties</configFile>
        <description>change trading market status to pre-open for exchange=DIFX,market code=ALL and executing broker=1
        </description>
    </Job>
    <Job>
        <jobName>DIFX_ALL_ManualPreopen_1</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/DIFX_ALL_ManualPreopen_1.properties</configFile>
        <description>run pre-open for exchange=DIFX,market code=ALL and executing broker=1</description>
    </Job>
    <Job>
        <jobName>DIFX_ALL_Open_1</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DIFX_ALL_Open_1.properties</configFile>
        <description>change trading market status to open for exchange=DIFX,market code=ALL and executing broker=1
        </description>
    </Job>

    <Job>
        <jobName>DIFX_ALL_ManualEOD_1</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/DIFX_ALL_ManualEOD_1.properties</configFile>
        <description>run EOD for exchange=DIFX,market code=ALL and executing broker=1</description>
    </Job>-->
    <!-- DSM_ALL 
    <Job>
        <jobName>DSM_ALL_Preopen_40</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DSM_ALL_Preopen_40.properties</configFile>
        <description>change trading market status to pre-open for exchange=DSM,market code=ALL and executing broker=40
        </description>
    </Job>
    <Job>
        <jobName>DSM_ALL_ManualPreopen_40</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/DSM_ALL_ManualPreopen_40.properties</configFile>
        <description>run pre-open for exchange=DSM,market code=ALL and executing broker=40</description>
    </Job>
    <Job>
        <jobName>DSM_ALL_Open_40</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DSM_ALL_Open_40.properties</configFile>
        <description>change trading market status to open for exchange=DSM,market code=ALL and executing broker=40
        </description>
    </Job>
    <Job>
        <jobName>DSM_ALL_Close_40</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DSM_ALL_Close_40.properties</configFile>
        <description>change trading market status to close for exchange=DSM,market code=ALL and executing broker=40
        </description>
    </Job>

    <Job>
        <jobName>DSM_ALL_ManualEOD_40</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/DSM_ALL_ManualEOD_40.properties</configFile>
        <description>run EOD for exchange=DSM,market code=ALL and executing broker=40</description>
    </Job>-->
    <!-- DSM_ALL 
    <Job>
        <jobName>DSM_ALL_Preopen_33</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/DSM_ALL_Preopen_33.properties</configFile>
        <description>change trading market status to pre-open for exchange=DSM,market code=ALL and executing broker=33
        </description>
    </Job>
    <Job>
        <jobName>DSM_ALL_ManualPreopen_33</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/DSM_ALL_ManualPreopen_33.properties</configFile>
        <description>run pre-open for exchange=DSM,market code=ALL and executing broker=33</description>
    </Job>-->
    <!-- KSE_ALL 
    <Job>
        <jobName>KSE_ALL_Preopen_3</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/KSE_ALL_Preopen_3.properties</configFile>
        <description>change trading market status to pre-open for exchange=KSE,market code=ALL and executing broker=3
        </description>
    </Job>
    <Job>
        <jobName>KSE_ALL_ManualPreopen_3</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/KSE_ALL_ManualPreopen_3.properties</configFile>
        <description>run pre-open for exchange=KSE,market code=ALL and executing broker=3</description>
    </Job>-->

    <!-- LBBSE_ALL 
    <Job>
        <jobName>LBBSE_ALL_Preopen_14</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/LBBSE_ALL_Preopen_14.properties</configFile>
        <description>change trading market status to pre-open for exchange=LBBSE,market code=ALL and executing
            broker=14
        </description>
    </Job>
    <Job>
        <jobName>LBBSE_ALL_ManualPreopen_14</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/LBBSE_ALL_ManualPreopen_14.properties</configFile>
        <description>run pre-open for exchange=LBBSE,market code=ALL and executing broker=14</description>
    </Job>
    <Job>
        <jobName>LBBSE_ALL_Open_14</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/LBBSE_ALL_Open_14.properties</configFile>
        <description>change trading market status to open for exchange=LBBSE,market code=ALL and executing broker=14
        </description>
    </Job>

    <Job>
        <jobName>LBBSE_ALL_ManuaEOD_14</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/LBBSE_ALL_ManuaEOD_14.properties</configFile>
        <description>run EOD for exchange=LBBSE,market code=ALL and executing broker=14</description>
    </Job>-->
    <!--MSM_ALL 
    <Job>
        <jobName>MSM_ALL_Preopen_4</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/MSM_ALL_Preopen_4.properties</configFile>
        <description>change trading market status to pre-open for exchange=MSM,market code=ALL and executing broker=4
        </description>
    </Job>
    <Job>
        <jobName>MSM_ALL_ManualPreopen_4</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/MSM_ALL_ManualPreopen_4.properties</configFile>
        <description>run pre-open for exchange=MSM,market code=ALL and executing broker=4</description>
    </Job>
    <Job>
        <jobName>MSM_ALL_Open_4</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/MSM_ALL_Open_4.properties</configFile>
        <description>change trading market status to open for exchange=MSM,market code=ALL and executing broker=4
        </description>
    </Job>

    <Job>
        <jobName>MSM_ALL_ManualEOD_4</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/MSM_ALL_ManualEOD_4.properties</configFile>
        <description>run EOD for exchange=MSM,market code=ALL and executing broker=4</description>
    </Job>-->
    <!-- NSDQ_ALL_Repeated_Config 
    <Job>
        <jobName>NSDQ_ALL_Preopen_8_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQ_ALL_Preopen_8_2.properties</configFile>
        <description>change trading market status to pre-open for exchange=NSDQ,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQ_ALL_ManualPreopen_8_2</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/NSDQ_ALL_ManualPreopen_8_2.properties</configFile>
        <description>run pre-open for exchange=NSDQ,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>NSDQ_ALL_Open_8_2</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQ_ALL_Open_8_2.properties</configFile>
        <description>change trading market status to open for exchange=NSDQ,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>NSDQ_ALL_ManualEOD_8_2</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/NSDQ_ALL_ManualEOD_8_2.properties</configFile>
        <description>run EOD for exchange=NSDQ,market code=ALL and executing broker=8</description>
    </Job>-->
    <!--NSDQBB_ALL 
    <Job>
        <jobName>NSDQBB_ALL_Preopen_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQBB_ALL_Preopen_8.properties</configFile>
        <description>change trading market status to pre-open for exchange=NSDQBB,market code=ALL and executing
            broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQBB_ALL_ManualPreopen_8</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/NSDQBB_ALL_ManualPreopen_8.properties</configFile>
        <description>run pre-open for exchange=NSDQBB,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>NSDQBB_ALL_Open_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQBB_ALL_Open_8.properties</configFile>
        <description>change trading market status to open for exchange=NSDQBB,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQBB_ALL_Close_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQBB_ALL_Close_8.properties</configFile>
        <description>change trading market status to close for exchange=NSDQBB,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQBB_ALL_ManualEOD_8</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/NSDQBB_ALL_ManualEOD_8.properties</configFile>
        <description>run EOD for exchange=NSDQBB,market code=ALL and executing broker=8</description>
    </Job>-->
    <!--NSDQOT_ALL 
    <Job>
        <jobName>NSDQOT_ALL_Preopen_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQOT_ALL_Preopen_8.properties</configFile>
        <description>change trading market status to pre-open for exchange=NSDQOT,market code=ALL and executing
            broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQOT_ALL_ManualPreopen_8</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/NSDQOT_ALL_ManualPreopen_8.properties</configFile>
        <description>run pre-open for exchange=NSDQOT,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>NSDQOT_ALL_Open_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQOT_ALL_Open_8.properties</configFile>
        <description>change trading market status to open for exchange=NSDQOT,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQOT_ALL_Close_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NSDQOT_ALL_Close_8.properties</configFile>
        <description>change trading market status to close for exchange=NSDQOT,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NSDQOT_ALL_ManualEOD_8</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/NSDQOT_ALL_ManualEOD_8.properties</configFile>
        <description>run EOD for exchange=NSDQOT,market code=ALL and executing broker=8</description>
    </Job>-->
    <!-- NYSE_ALL 
    <Job>
        <jobName>NYSE_ALL_Preopen_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NYSE_ALL_Preopen_8.properties</configFile>
        <description>change trading market status to pre-open for exchange=NYSE,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NYSE_ALL_ManualPreopen_8</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/NYSE_ALL_ManualPreopen_8.properties</configFile>
        <description>run pre-open for exchange=NYSE,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>NYSE_ALL_Open_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NYSE_ALL_Open_8.properties</configFile>
        <description>change trading market status to open for exchange=NYSE,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NYSE_ALL_Close_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/NYSE_ALL_Close_8.properties</configFile>
        <description>change trading market status to close for exchange=NYSE,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>NYSE_ALL_ManualEOD_8</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/NYSE_ALL_ManualEOD_8.properties</configFile>
        <description>run EOD for exchange=NYSE,market code=ALL and executing broker=8</description>
    </Job>-->
    <!--OPRA_ALL 
    <Job>
        <jobName>OPRA_ALL_Preopen_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/OPRA_ALL_Preopen_8.properties</configFile>
        <description>change trading market status to pre-open for exchange=OPRA,market code=ALL and executing broker=8
        </description>
    </Job>
    <Job>
        <jobName>OPRA_ALL_ManualPreopen_8</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/OPRA_ALL_ManualPreopen_8.properties</configFile>
        <description>run pre-open for exchange=OPRA,market code=ALL and executing broker=8</description>
    </Job>
    <Job>
        <jobName>OPRA_ALL_Open_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/OPRA_ALL_Open_8.properties</configFile>
        <description>change trading market status to open for exchange=OPRA,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>OPRA_ALL_Close_8</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/OPRA_ALL_Close_8.properties</configFile>
        <description>change trading market status to close for exchange=OPRA,market code=ALL and executing broker=8
        </description>
    </Job>

    <Job>
        <jobName>OPRA_ALL_ManualEOD_8</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/OPRA_ALL_ManualEOD_8.properties</configFile>
        <description>run EOD for exchange=OPRA,market code=ALL and executing broker=8</description>
    </Job>-->

    <!--PSE_ALL 
    <Job>
        <jobName>PSE_ALL_Preopen_13</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/PSE_ALL_Preopen_13.properties</configFile>
        <description>change trading market status to pre-open for exchange=PSE,market code=ALL and executing broker=13
        </description>
    </Job>
    <Job>
        <jobName>PSE_ALL_ManualPreopen_13</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/PSE_ALL_ManualPreopen_13.properties</configFile>
        <description>run pre-open for exchange=PSE,market code=ALL and executing broker=13</description>
    </Job>
    <Job>
        <jobName>PSE_ALL_Open_13</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/PSE_ALL_Open_13.properties</configFile>
        <description>change trading market status to open for exchange=PSE,market code=ALL and executing broker=13
        </description>
    </Job>
    <Job>
        <jobName>PSE_ALL_Close_13</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/PSE_ALL_Close_13.properties</configFile>
        <description>change trading market status to close for exchange=PSE,market code=ALL and executing broker=13
        </description>
    </Job>
    <Job>
        <jobName>PSE_ALL_ManualEOD_13</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/PSE_ALL_ManualEOD_13.properties</configFile>
        <description>run EOD for exchange=PSE,market code=ALL and executing broker=13</description>
    </Job>-->

    <!--TDWL_ALL_BAJ 
    <Job>
        <jobName>TDWL_ALL_Preopen_5</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/TDWL_ALL_Preopen_5.properties</configFile>
        <description>change trading market status to pre-open for exchange=TDWL,market code=ALL and executing broker=5
        </description>
    </Job>
    <Job>
        <jobName>TDWL_ALL_ManualPreopen_5</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/TDWL_ALL_ManualPreopen_5.properties</configFile>
        <description>run pre-open for exchange=TDWL,market code=ALL and executing broker=5</description>
    </Job>
    <Job>
        <jobName>TDWL_ALL_Open_5</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/TDWL_ALL_Open_5.properties</configFile>
        <description>change trading market status to open for exchange=TDWL,market code=ALL and executing broker=5
        </description>
    </Job>
    <Job>
        <jobName>TDWL_ALL_ManualEOD_5</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/TDWL_ALL_ManualEOD_5.properties</configFile>
        <description>run EOD for exchange=TDWL,market code=ALL and executing broker=5</description>
    </Job>-->
    <!--TDWL_ALL_BSF 
    <Job>
        <jobName>TDWL_ALL_Preopen_10</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/TDWL_ALL_Preopen_10.properties</configFile>
        <description>change trading market status to pre-open for exchange=TDWL,market code=ALL and executing
            broker=10
        </description>
    </Job>
    <Job>
        <jobName>TDWL_ALL_ManualPreopen_10</jobName>
        <className>com.directfn.operation_server_logic.ManualPreOpenJob</className>
        <configFile>Market_Manual_Preopen/TDWL_ALL_ManualPreopen_10.properties</configFile>
        <description>run pre-open for exchange=TDWL,market code=ALL and executing broker=10</description>
    </Job>
    <Job>
        <jobName>TDWL_ALL_Open_10</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/TDWL_ALL_Open_10.properties</configFile>
        <description>change trading market status to open for exchange=TDWL,market code=ALL and executing broker=10
        </description>
    </Job>

    <Job>
        <jobName>TDWL_ALL_Close_10</jobName>
        <className>com.directfn.operation_server_logic.TradingMarketStateChangeJob</className>
        <configFile>Market_Status_Change_Config/TDWL_ALL_Close_10.properties</configFile>
        <description>change trading market status to close for exchange=TDWL,market code=ALL and executing broker=10
        </description>
    </Job>
    <Job>
        <jobName>TDWL_ALL_ManualEOD_10</jobName>
        <className>com.directfn.operation_server_logic.ManualEODJob</className>
        <configFile>Market_Manual_EOD/TDWL_ALL_ManualEOD_10.properties</configFile>
        <description>run EOD for exchange=TDWL,market code=ALL and executing broker=10</description>
    </Job>-->


    <!--<Job>
        <jobName>AUTO_SETTLEMENT_EXECUTION_JOB</jobName>
        <className>com.directfn.operation_server_logic.AutoSettlementJob</className>
        <configFile>Auto_Settlement_Config.properties</configFile>
        <description>settlement execution job</description>
    </Job>

    <Job>
        <jobName>ORDER_MASTER_REFRESH_JOB</jobName>
        <className>com.directfn.operation_server_logic.OrderMasterRefreshJob</className>
        <configFile>ORDER_MASTER_REFRESH.properties</configFile>
        <description>refresh the order master</description>
    </Job>

    <Job>
        <jobName>EOD_ORDER_EXPIRATION_PROCESS</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>EOD_Order_Expiration.properties</configFile>
        <description>EOD expire process</description>
    </Job>
    <Job>
        <jobName>MARGIN_FEE_CALCULATION_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Margin_Fee_Calculation.properties</configFile>
        <description>margin fee calcution</description>
    </Job>-->

    <Job>
        <jobName>PENDING_CHARGE_RECOVERY_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Pending_Charge_Recovery.properties</configFile>
        <description>pending charge recovery job</description>
    </Job>

    <Job>
        <jobName>AUTO_LIQUIDATION_JOB</jobName>
        <className>com.directfn.operation_server_logic.AutoLiquidationJob</className>
        <configFile>Auto_Liquidation_Config.properties</configFile>
        <description>liquidation job</description>
    </Job>

    <Job>
        <jobName>MARGIN_EXPIRY_EMAIL_GENERATE_JOB</jobName>
        <className>com.directfn.operation_server_logic.MarginExpiryEmailGenerateJob</className>
        <configFile>Margin_Expiry_Ntfn_Generate.properties</configFile>
        <description>margin expiry email genaration</description>
    </Job>

    <Job>
    	<jobName>AUTOMATIC_SUBSCRIPTION_NOTIFY_JOB</jobName>
    	<className>com.directfn.operation_server_logic.AutoSubscriptionNtfyJob</className>
    	<configFile>Auto_Subscription_notify_Config.properties</configFile>
	<description>Auto Subscription Notify</description>
    </Job>

    <Job>
        <jobName>BULK_SUBSCRIPTION_GENERATE_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Bulk_Subscription_Generate.properties</configFile>
        <description>bulk subscription genarate</description>
    </Job>
    <Job>
        <jobName>BULK_SUBSCRIPTION_CHARGING_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Bulk_Subscription_Charging.properties</configFile>
        <description>bulk subscription charge</description>
    </Job>

    <!--<Job>
        <jobName>AMS_FILE_UPLOAD_JOB</jobName>
        <className>com.directfn.operation_server_logic.AMSFileUploaderJob</className>
        <configFile>AMS_File_Upload_Config.properties</configFile>
        <description>AMS file upload</description>
    </Job>

    <Job>
        <jobName>MURABAHAH_MARGIN_NOTIFY_JOB</jobName>
        <className>com.directfn.operation_server_logic.MurabahahMarginExpiryNotificationJob</className>
        <configFile>Murabahah_expiry_notify_Config.properties</configFile>
        <description>Mubasher margin notification genaration</description>
    </Job>-->

    <!--<Job>-->
    <!--<jobName>FILE_COPY_JOB</jobName>-->
    <!--<className>com.directfn.operation_server_logic.FileCopyJob</className>-->
    <!--<configFile>EOD_CSV_File_Copy_Config.properties</configFile>-->
    <!--</Job>-->

    <!--<Job>
        <jobName>AUTOMATIC_CASH_STMT_GENERATE_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Automatic_Cash_Statement_Generate.properties</configFile>
        <description>automatice cash statement generate</description>
    </Job>-->
    <Job>
        <jobName>DOCUMENT_EXPIRY_NOTIFICATION_JOB</jobName>
        <className>com.directfn.operation_server_logic.DocumentExpiryNotificationJob</className>
        <configFile>Document_Expiry_Notification_Config.properties</configFile>
        <description>document expiry notification</description>
    </Job>

    <!--<Job>
        <jobName>AUTOMATIC_REVENUE_DATA_EXPORT_SERVICE</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Automatic_RevenueData_Export_Service.properties</configFile>
        <description>automatic revenue data export service</description>
    </Job>-->

    <Job>
        <jobName>SNAPSHOT_UPDATE_SERVICE</jobName>
        <className>com.directfn.operation_server_logic.SnapShotUpdaterJob</className>
        <configFile>SnapShot_Update_Config.properties</configFile>
        <description>snapshot update service</description>
    </Job>

    <Job>
        <jobName>AUTOMATIC_CASH_HOLDING_STATEMENT_SENDING_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Automatic_cash_holding_statement_notification.properties</configFile>
        <description>automatic cash holding statement sending</description>
    </Job>

    <!--<Job>-->
    <!--<jobName>LiquidationJobFor</jobName>-->
    <!--<className>com.directfn.operation_server_logic.ExchangeWiseLiquidationJob</className>-->
    <!--<configFile>excahge_wise_liquidation.properties</configFile>-->
    <!--</Job>-->
    <!--<Job>-->
    <!--<jobName>SNAPSHOT_UPDATE_SERVICE</jobName>-->
    <!--<className>com.directfn.operation_server_logic.SnapShotUpdaterJob</className>-->
    <!--<configFile>SnapShot_Update_Config.properties</configFile>-->
    <!--<description>snapshot update</description>-->
    <!--</Job>-->

    <!--<Job>-->
    <!--<jobName>LiquidationJobFor</jobName>-->
    <!--<className>com.directfn.operation_server_logic.ExchangeWiseLiquidationJob</className>-->
    <!--<configFile>excahge_wise_liquidation.properties</configFile>-->
    <!--</Job>-->

    <!--<Job>
        <jobName>GameTradeMarginLiquidation</jobName>
        <className>com.directfn.operation_server_logic.GameTradeMarginLiquidationJob</className>
        <configFile>GameTradeMarginLiquidation.properties</configFile>
        <description>game trade margin liguidation job</description>
    </Job>
    <Job>
        <jobName>GameTradeManualOrderExecuteJob</jobName>
        <className>com.directfn.operation_server_logic.GameTradeOrderExecutionJob</className>
        <configFile>Game_Trade_Order_Execution_Config.properties</configFile>
        <description>game trade muanual order executing</description>
    </Job>
    <Job>
        <jobName>AuxiliaryTableCleanJob</jobName>
        <className>com.directfn.operation_server_logic.AuxiliaryTableCleanJob</className>
        <configFile>AuxiliaryTableCleanConfig.properties</configFile>
        <description>auxiliary table clean</description>
    </Job>

    <Job>
        <jobName>REMOVE_MARGIN_DUE_AT_EOD</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>Remove_Margin_Due_At_EOD_Config.properties</configFile>
        <description>remove margin due at EOD</description>
    </Job>-->

    <Job>
        <jobName>UPDATE_MARGIN_UTILIZATION_JOB</jobName>
        <className>com.directfn.operation_server_logic.DatabasePackageExecutorJob</className>
        <configFile>Update_Margin_Utilization_Config.properties</configFile>
        <description>update margin utilization</description>
    </Job>

    <!--<Job>
        <jobName>EOD_DBFS_CASH_BAL_TO_ZERO_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>EOD_DBFS_Cash_Acc_Balance_to_Zero_Config.properties</configFile>
        <description>set cash balance to zero DBFS EOD</description>
    </Job>-->

    <Job>
        <jobName>GTD_ORD_EXPIRY_ON_HOLIDAYS_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>GTD_Order_Expiration_On_Holidays.properties</configFile>
        <description>GTD order expiry on holidays</description>
    </Job>

    <Job>
        <jobName>SYNC_PENDING_CHARGE_JOB</jobName>
        <className>com.directfn.operation_server_logic.WebServiceCommonExecutingJob</className>
        <configFile>SyncPendingCharges.properties</configFile>
        <description>sync pending charge</description>
    </Job>

</JobInfo>
