WEB_SERVICE_URL=http://<%= @web_service_ip %>:8080/MubasherWebServices/services/OMService
WEB_SERVICE_NAME=<%= @web_service_name %>

DB_CLASS=oracle.jdbc.driver.OracleDriver
DB_URL=jdbc:oracle:thin:@<%= @db_host %>:1521:<%= @db_sid %>
DB_USER=<%= @dbuser %>
DB_PASSWORD=<%= @dbpass %>
