#operation server settings
#operation server ip: operation server host ip
OS_IP=127.0.0.1
#NORMAL_PORT: Jetty server normal port
NORMAL_PORT=8030
#SECURE_PORT: Jetty server secure port
SECURE_PORT=8003
#SMS_SENDER_URL: This url use to send verification code to send sms to user/ use if otp enabled.
SMS_SENDER_URL=http://<%= @sms_sender_ip %>:8080/MubasherFrontOfficeConnector/ProcessRequest
#IS_OPT_ENABLED: whether or not opt enabled
CONSOLE_OTP_ENABLED=false
#web app version-use to load web app in initialization of the oms monitor.
WEB_APP_VERSION=web_console-1.11.22.1.war
#version
VERSION=1.11.22.1
#log file path
LOG_FILE=logs/OperationServer.log
#OMS data base. Db jobs will fetch from this db
OMS_DB=jdbc:oracle:thin:@<%= @oms_db_host %>:1521:<%= @oms_db_sid %>
#encripted DB user name
USER_NAME=<%= @oms_db_username_enc %>
#encripted Db user password
PASSWORD=<%= @oms_db_password_enc %>

