#Database Details
DB_DRIVER=oracle.jdbc.driver.OracleDriver

PRICE_DB_URL=jdbc:Oracle:thin:@<%= @price_db_host %>:1521:<%= @price_db_sid %>
PRICE_DB_USER=<%= @price_db_user %>
PRICE_DB_PASSWORD=<%= @price_db_pass %>

EMAIL_DB_URL=jdbc:Oracle:thin:@<%= @email_db_host %>:1521:<%= @email_db_sid %>
EMAIL_DB_USER=<%= @email_db_user %>
EMAIL_DB_PASSWORD=<%= @email_db_pass %>

#WebService Details
GDC_WS_URL=http://data.directfn.com/MubasherPriceWS2/UpdateSnapShotService
GDC_WS_SERVICE_NAME=UpdateSnapShotServicePort
BATCH_SIZE=5000
LANGUAGE=EN
MODE=1
CONFIG_DATES=1

#NEW_OMS=1, OLD_OMS=0
OMS_VERSION=<%= @oms_version %>

#EMAIL DETAILS
FROM_EMAIL=snapshot_update@directfn.com
TO_EMAIL=app.support@mubasher.net
CC_EMAIL_LIST=k.shashika@directfn.com
EMAIL_SUBJECT_SYMBOL_COUNT=SnapshotUpdater Inserted Symbol Count (UAT BackOffice)
EMAIL_SUBJECT=Error Notification
ATTACHED_FILE_NAME=Not available
EMAIL_TEMPLATE=70


HOUR=08
MINUTE=12
SECOND=00

# Day Of Week=SUN,MON,TUE,WED,THU,FRI,SAT
#please make sure not to add spaces within the dates
DAY_OF_WEEK=SUN,MON,TUE,WED,THU,FRI,SAT
