#!/bin/sh

CLASSPATH=$CLASSPATH:./lib/jboss6/jbossall-client.jar
CLASSPATH=$CLASSPATH:./lib/activation-1.1.jar
CLASSPATH=$CLASSPATH:./lib/axis-1.3.jar
CLASSPATH=$CLASSPATH:./lib/commons-collections-3.2.jar
CLASSPATH=$CLASSPATH:./lib/commons-discovery-0.2.jar
CLASSPATH=$CLASSPATH:./lib/commons-lang-2.4.jar
CLASSPATH=$CLASSPATH:./lib/commons-logging-1.1.1.jar
CLASSPATH=$CLASSPATH:./lib/commons-logging-api-1.1.jar
CLASSPATH=$CLASSPATH:./lib/cryptohandler-1.01.jar
CLASSPATH=$CLASSPATH:./lib/javax.jws-1.0.jar
CLASSPATH=$CLASSPATH:./lib/log4j-1.2.9.jar
CLASSPATH=$CLASSPATH:./lib/ojdbc-14.jar
CLASSPATH=$CLASSPATH:./lib/quartz-1.6.5.jar
CLASSPATH=$CLASSPATH:./lib/webservices.jar
CLASSPATH=$CLASSPATH:./lib/wsdl4j-1.5.1.jar
CLASSPATH=$CLASSPATH:./lib/ams-1.0.0.3.jar
CLASSPATH=$CLASSPATH:./lib/jcifs-1.2.9.jar
CLASSPATH=$CLASSPATH:./lib/SnapShotUpdaterClient-1.0.13.0.jar
CLASSPATH=$CLASSPATH:./lib/MFS/DFNMIXProtocol_X_X-2.10.000.156.jar
CLASSPATH=$CLASSPATH:./jobs/tasks
CLASSPATH=.:$CLASSPATH

<%= @java_home %>/bin/java -Xmx<%= @memory %>m -Xdebug -Xrunjdwp:server=y,transport=dt_socket,address=7879,suspend=n -Dlog4j.configuration=file:log4j.properties -Djavax.net.ssl.keyStore=keystore -Djavax.net.ssl.keyStorePassword=password -DLDC_OS -cp $CLASSPATH -jar operation_server_build-1.11.22.1.jar  > nohup_os.out &
