#Server Configurations. Do not change manually
#Sun Mar 05 09:44:32 AST 2006
#Version: 9.00.001  Released on: 04/06/2009

DOWN_HOUR=23
DOWN_MINUTES=10

PRICE_DB_DRIVER=oracle.jdbc.driver.OracleDriver
PRICE_DB_URL=jdbc:oracle:thin:@<%= @price_db_host %>:1521:<%= @price_db_sid %>
PRICE_DB_USER=MUBASHER_PRICE
PRICE_DB_PASSWORD=password

SERVER_IP=<%= @server_ips %>
SCM_REAL_TIME_PORT=9006
SCM_BACKLOG_PORT=9005

SERVER_NAME=<%= @rdbm_id %>
MACHINE_IP=<%= @private_ip %>
DEFAULT_EXCHANGE=DFM

DB_UPDATE_OPTION=0
SYNC_SYMBOL_MASTER=1
HEAP_THRESHOLD_PCT=25
IS_SQL_DB_WITH_SPS=0
UPDATE_NEWS_IN_DB=0
UPDATE_ANNS_IN_DB=0
MAX_DATA_QUEUE_SIZE=5000

IS_ENCRYPT_DB_CREDENTIALS=0
DB_UPDATER_INTVL_MS=5000
UPDATE_ADDITIONAL_FD=0
IS_LOG_ALL_ERRORS=0
STACKTRACE=0
MAX_DB_CONNECTION_RETRY=5
IS_SYMBOL_ADDITION_DISABLED=1
IS_ADV_MBO_REQUESTED=0
IS_ADV_MBP_REQUESTED=0

DETAILS=18446744073709551615

NET_MON_ENABLED=0
MY_IP=
NETMON_DB_QUERY_INTERVAL=5
IS_UPDATE_EXISTING_SYMBOLMAP=0



