#title=DataManager
#!/bin/bash
cd <%= @rdbm_home %>
JAVA=<%= @java_path %>/bin/java
NOHUP=/usr/bin/nohup

$NOHUP $JAVA -Xms<%= @min_memory %>m -Xmx<%= @max_memory %>m -DLinuxServer=true -classpath .:./lib/jturbo.jar:./lib/socks.jar:./lib/isiutils.zip:./lib/ojdbc14.jar:./lib/Java2COM.jar:./lib/coroutine4java.jar:./lib/log4j-1.2.15.jar:./lib/stax-api-1.0.jar:./lib/jms.jar:./lib/jdom.jar:./lib/bash.jar:./lib/cryptohandler-1.01.jar:./lib/mail.jar:./lib/jgl3.1.0.jar:./lib/jboss-j2ee.jar:./lib/jbossall-client.jar:./DFNRDBM_X_X_9.10.009.009.jar com.mubasher.regional.dbmgr.RemoteDBManager > nohup_rdm.out &

