#Set the unique ID for this TRS and the IP address to bind to
TRS_ID=TRS01
TRS_IP_ADDRESS=0.0.0.0

#Front-office IP address and port
FRONT_OFFICE_IP=<%= @fo_oms_private_ip %>
FRONT_OFFICE_PORT=1099

#Back-office IP address and port
BACK_OFFICE_IP=<%= @bo_oms_private_ip %>
BACK_OFFICE_PORT=8080

#Database connection settings
# Database Driver: eg: oracle.jdbc.OracleDriver, com.mysql.jdbc.Driver
DB_DRIVER=oracle.jdbc.OracleDriver
# # Connection URL: eg: jdbc:oracle:thin:@127.0.0.1:1521:mfs, jdbc:mysql://127.0.0.1/mfs
DB_URL=jdbc:oracle:thin:@<%= @ora_server %>:1521:<%= @ora_sid %>
DB_USERNAME=<%= @ora_username %>
DB_PASSWORD=<%= @ora_password %>

#Enable/disable Intrusion Detection System
#IDS_ENABLED=false

#Enable/disable quality of service
#QOS_ENABLED=false

#Enable/disable TRS web console
CONSOLE_ENABLED=true
CONSOLE_OTP_ENABLED=false

CACHED_FILE_PATH=/home/directfn/app/CFD/oms_cache/

#Environment: DEV,QA,UAT,PRODUCTION
ENVIRONMENT=UAT

