#!/bin/sh
TRS_START="<%= @java_home %>/bin/java -Dlog4j.configurationFile=log4j2-trs.xml
-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
-Dorg.hornetq.logger-delegate-factory-class-name=com.directfn.trs.log.Slf4jLogDelegateFactory
-Xms<%= @min_memory_in_mb %>m -Xmx<%= @max_memory_in_mb %>m -XX:MaxPermSize=256m -Djava.net.preferIPv4Stack=true
-Xdebug -Xrunjdwp:server=y,transport=dt_socket,address=7878,suspend=n
-jar mfg_trs-1.0.38.jar"
NOHUP=/usr/bin/nohup
$NOHUP $TRS_START ./nohup_trs.out &
