label.homeTitle=Mubasher Trade
label.loginTitle=Mubasher Trade
label.loadingMainApplication=LOADING.....
label.loading=Loading...
info.signout.success=You have successfully signed out.
label.priceAuthMsg= Connecting to Price Server...
label.tradeAuthMsg= Connecting to Trade Server...
label.auth.errorMessageTitle=Please correct the following errors.

#Error messages
title.error=Error
err.page.500=Sorry, the server is too busy to handle your request, please try again in a moment.
err.page.404=Sorry, the page you requested was not found.
err.page.403=Access denied - You are not authorized to access this page.<br> If you are a valid user and have not opened the application in another browser tab, please close your browser and open in a fresh browser.
err.page.409=Your session has expired, please sign-in.
err.sso.msg=You have already logged in from another account.
err.authFailed=Authentication Failed. Please Try Again.
err.login.invalid_credentials=Invalid Username/Password.
err.invalidProductId=Sorry, you are not authorized to use this product.
err.userExpired=Your login has expired.
err.srvAuthFailed=Authentication is Failed. Contact Customer Support.
err.suspendedUser =Your account is Suspended. Contact Customer Support.
err.login.invalid_broker_institution=The broker institution associated with your login credentials is invalid.

#CSS configurations
config.css.left=left
config.css.right=right
config.css.dir=ltr
config.css.revDir=rtr
config.css.font=Arial

#Application configurations
config.app.lang=en
config.app.lang2=EN
config.app.country=GLOBAL
config.app.exchange=DFM
config.app.theme=NGP_DuTrade_Gray
config.alt.lang=AR

#Login Page keys
label.login=Login
label.username=Username
label.password=Password
label.customerId=Customer Id
label.home = Home
label.userLogin=User Login
label.auth.authenticating=Authenticating..
label.TickerData=Ticker not available for the moment.
label.MarketHeadlines=Market Headlines
label.termsAndConditions=Terms and Conditions
label.help=Help
label.helpContent1=If you are a registered user and own an investment account in Mubasher Trade, you can use your own registered credentials to login to all Mubasher Trade Products.
label.helpContent2=If you are not a registered user but own an investment account in Mubasher Trade, you can register by clicking Register Now button.
label.register=Register
label.copyright=Copyright &copy; 2014
label.shc=Mubasher Trade
label.textLine1=Welcome to our new State-Of-The-Art trading tool with features to perform faster and more complex investment activities 24 by 7.
label.textLine2=The screens are designed with the latest rich internet technology, offering you the freedom to fully create your own dashboard with a click of a button, the functions you desire you can simply drag and drop to the location you want.
label.textLine3=The free market analysis tools and charts make it convenient for you to conduct your own technical analysis and acquire viable investment-decisions.


label.faq=FAQ
label.contactus = Contact Us
label.browserSupport=Best viewed with IE v9.0+, Firefox 4.0+ and Chrome 13+ at 1280x800 resolution.
label.app.egx=MubasherTrade Egypt

# GMS lang keys
js.summary=summary
js.exchange=Exchange
js.symbol=Symbol
js.price=Price
js.time=Time
js.index=Index
js.last=Last
js.change=Change
js.contract=Contract
js.global=Global
js.tickerDataNot=Ticker data not available for the moment.
js.annNotAvailable=Market Headlines not available.
js.close=close

#URL Mappings
home.termsAndConditions.link=<%= @site_address %>/en/privacy_policy.html
home.faq.link=<%= @site_address %>/en/faq.html
home.contactus.link=<%= @site_address %>/en/contact.html
home.copyright.link=<%= @site_address %>/en/privacy_policy.html
home.banner1.link=./img/en/ads.png
home.help.link=#
home.takeatour.link=#
home.register.link=<%= @site_address %>/en/open_account.html
home.link=<%= @site_address %>/
config.app.logoutUrl=<%= @site_address %>/
config.app.iomAgreementURL=<%= @site_address %>/en/forms_applications.html

#Feedback form lang keys
label.feedback.name=Name:
label.feedback.head=Feedback Form
label.feedback.message=What do you think about Mubasher Trade Web?
label.feedback.email=Email:
label.feedback.comments=Comments:
label.feedback.btntext=Send Now
label.feedback.successMsg=Thank You.Your feedback sent successfully.
label.feedback.msghead=Message
label.feedback.okbtn=OK
label.feedback.warnMessage=Note: Please use ENGLISH language for providing information
err.feedback.emptyField=This field must be filled.
err.feedback.invalidEmail=Email address is invalid.
err.feedback.invalidName=The minimum number of characters should be 4.
err.feedback.invalidComment=The minimum number of characters should be 5.
err.qty.less_than_min_qty=Order rejected. Validation failed: Minimum order size is

#lang
label.lang.EN=English
label.lang.AR=\u0639\u0631\u0628\u064A
label.lang.ZH=\u4E2D\u6587
label.lang.RU=Russian
label.langChange.AR=\u062A\u063A\u064A\u064A\u0631 \u0627\u0644\u0644\u063A\u0629 :
label.langChange.EN=Change Language :
label.langChange.ZH=\u9009\u62E9\u8BED\u8A00 :
label.langChange.RU=Change Language :

#footer
static.delayedMessage = icon represents market data is delayed by at least 15 minutes.
static.copyright.line1=Mubasher Trade is a trading name of Mubasher Financial Services BSC ?. Mubasher Financial Services BSC ? is an investment firm licensed and regulated by the Central Bank of Bahrain, Copyright ? 2014 Mubasher Financial Service BSC ? www.mubasherfs.com All rights reserved.
static.copyright.line2=As your agreement for the receipt and use of market data provides, the securities markets (1) reserve all rights to the market data that they make available; (2) do not guarantee that data; and (3) shall not be liable for any loss due either to their negligence or to any cause beyond their reasonable control.
static.copyright.line3=YOUR RECEIPT AND USE OF THIS SERVICE IS SUBJECT TO THE TERMS AND CONDITIONS OF YOUR AGREEMENT WITH MUBASHER TRADE.

#header
label.signout=(Sign Out)
label.welcome=Welcome
lang.selectLanguage=Select Language
lang.english=English
lang.arabic=\u0627\u0644\u0639\u0631\u0628\u064a\u0629
lang.turkish=T\u00FCrk

label.cu.submit=Submit
label.remmeberme = Remember me
label.priceOnly= Price Login
label.tradeLogin= Trade Login

err.dayMarginExpiry1=Intraday margin provided for Portfolio -
err.marginExpiry1=Overnight margin provided for Portfolio -
err.marginExpiryAC=A/C No: {0} expires in {1} days.
err.marginExpiry3=Dues are recovered by liquidation once margin expires.


#contact us and platinum registration
label.cu.head=Contact Us
label.pr.head=Apply for Mubasher Trade Platinum
label.cu.name=Name:
label.cu.email=Email Address:
label.cu.message=Message:
label.pr.phone=Phone:
err.pr.incorrectPhoneNum=Incorrect Phone Number
label.fcx.mobile=Mobile Number:
label.fcx.register=Register
label.fcx.name=Full Name:
msg.sucss.cu=Your message is successfully sent
msg.sucss.fcx=Registration has been done successfully
err.fcx.incorrectMobileNum=Incorrect Mobile Number
