﻿<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--Beans for GDC Profile Handling-->
    <bean id="ngpConfig" class="com.directfn.ria.config.NGPConfiguration">
        <property name="dcpProfileURL" value="http://<%= @dcp_profile_addr %>:8380/profile/DataHandler"/>
        <!--DCP profile proxy setting -->
        <property name="proxyIP" value="192.168.0.70"/>
        <property name="proxyPORT" value="3128"/>

        <!--Value::  TRUE | FALSE-->
        <property name="isProxyEnabled" value="FALSE"/>
        <property name="connectionTimeout" value="100000"/>
        <property name="socketReadTimeout" value="100000"/>

        <!--Authentication mode-->
        <!--Value:: DFNWEB, AlRajhi : PRICE_ONLY | KFIC : PRICE_FIRST_TRADE | PRICE_ONLY | SANKO: TRADE_FIRST_PRICE
         ALB: DUAL_TRADEFIRSTPRICE_PRICEONLY -->
        <property name="authMode" value="TRADE_ONLY"/>
        <!--SSO status-->
        <!--Value:: SANKO, KFIC: 1 | DFNWEB, AlRajhi : 0-->
        <property name="priceSSO" value="0"/>
        <property name="tradeSSO" value="0"/>
        <!-- This variable enable/disable trading -->
        <!--Value::  SANKO, KFIC : true | DFNWEB, AlRajhi : false-->
        <property name="isTrade" value="true"/>
        <!--NGP Application Version-->
        <property name="NGPVersion" value="DFNRIA_TRADE_M_1.00.000.023_p04"/>
        <!--Value:: KFIC, DEMO, AlRajhi: false-->
        <property name="loadOnPriceAuthFail" value="false"/>
        <!--Value:: AlRajhi: false | KFIC, DEMO: true-->
        <property name="loadOnTradeAuthFail" value="false"/>
        <!--Value:: AlRajhi: false | KFIC, DEMO: true-->
        <property name="priceAuthKeyRequest" value="true"/>
        <!--Value:: AlRajhi: false | KFIC, DEMO: true-->
        <property name="disableFeedBack" value="false"/>
        <!--Value::  SANKO: SNK | DFNWEB: DFNWEB| DNZ | KFIC: 20 | AlRajhi: ARJB-->
        <property name="companyCode" value="DFNWEB"/>
        <!--Value:: Turkey:16 | KFIC: 20-->
        <property name="clientChannelId" value="${app.channelId}"/>
        <!--Value:: AlRajhi: false, KFIC, DEMO: true-->
        <property name="tradingEnableStatusChangeOnAuth" value="true"/>

        <!--set default language of the application-->
        <!--Value:: Alrajhi, KFIC, DEMO: EN| SANKO: TR-->
        <property name="defaultLang" value="EN"/>

        <!--set starting page -->
        <!--Value::  SANKO: sanko.ssoAuth | DFNWEB: ria.authentication | Alrajhi: dev mode - ria.authentication, release mode: blank| KFIC: blank
        TURKEY :trkTrade.dualAuthentication|trkTrade.authentication-->
        <property name="startPage" value="global.authentication"/>

        <property name="changePassPage" value="ria_changePassword"/>

        <!--config send price authentication status to MTR-->
        <!--Values:: default: false | turkey trade solutions: true-->
        <property name="authenticationTriggerMTR" value="false"/>

        <property name="tradePasswordEncrypted"  value="true" />    <!-- default false, currently true only of LKCSE -->

        <property name="defProfileConfig">
            <util:map map-class="java.util.HashMap">
                <entry key="DEFAULT" value="MFG"/>
            </util:map>
        </property>

        <!-- Values :-
            Egypt: https://comet-ldc-uat.directfn.com/CometServer/cometd | DuTrade: http://data.directfn.com/CometServer/cometd
        -->

        <property name="bookkeeperEnabled" value="FALSE"/>   <!--Values :  Egypt: TRUE | FALSE-->
        <property name="tpzEnabled" value="FALSE"/>    <!--Values :  Egypt: TRUE | FALSE-->
        <property name="tpzExchange" value="CASE"/>      <!--Values :  Egypt: CASE-->
        <property name="enableSecurityToken" value="FALSE"/>    <!--Values :  Egypt: TRUE | FALSE-->
        <property name="murabahahEnabled" value="TRUE"/> <!--Values :  TRUE | Egypt: FALSE-->
        <property name="disableDisclosureQuty"  value="FALSE"/>          <!-- Egypt :TRUE | FALSE -->
        <property name="hideEmployerDetails" value="FALSE"/>         <!-- Egypt : TRUE | FALSE -->
        <property name="enableOrderInvoiceLink" value="FALSE"/>    <!-- Egypt : TRUE | FALSE -->

        <property name="currentBrokerID" value="DBFS"/>
        <property name="brokerIDList" value="DBFS"/>
        <!--Other Configurations-->
        <!--Preferred Language settings-->
        <!--Values : EN | AR | TR -->
        <property name="preferredLang" value="EN"/>

        <!--To enable or disable the profile update popup message: Values Global: TRUE | FALSE  -->
        <property name="enableProfUpdatePopup" value="TRUE"/>
        <!--Initial profile update popup duration: in days -->
        <property name="initialPopupDuration" value="7"/>
        <!--Application Launched Date:  yyyyMMdd-->
        <property name="appLaunchedDate" value="20130927"/>

        <!-- NGP static content : 1. staticContentFiles - , seperated html file name list 2. staticContentPath - relative path to file location -->
        <property name="staticContentFiles" value="DutradeBanner1,DutradeBanner2,DutradeBanner3,DutradeBanner4,DutradeBanner5,DutradeBanner6,DutradeBanner7"/>
        <property name="staticContentPath" value="html/ngp/staticContent"/>

        <!--twitter key values -->
        <property name="twitterConsumerKey" value="qC61Dj0T2nWnbyPt7Faw"/>
        <property name="twitterConsumerSecrtKey" value="PUVPp6VLoXNmyaV9vcA3vL0wC5UZQSf1O4UEbN5q2Fo"/>
        <property name="twitterTokenKey" value="1853586451-mUau2PG4oVb0hmusAcGIVChFtiIc2nUBAlvfwMa"/>
        <property name="twitterTokenSecrtKey" value="DkED5fnmevsn9FHerdX4Yqb3AIeDpqjXYzcD57tVjs"/>

        <!-- Billing Code-->
        <!-- Values :-
           DUTrade : GBLMT | DBFS Dubai : UAEMT | Egypt : EGYMT | Libiya : LBYMT | Religare : REL | ZAI : ZAI
        -->
        <property name="billingCode" value="GBLMT"/>

        <!-- DUTrade : true | DBFS Dubai : false | DBFS Egypt : false | Libiya : false | Religare : false | ZAI : false -->
        <property name="enableAdviceAlerts" value="true"/>

        <!--List of supported themes-->
        <property name="supportedThemes">
            <util:map map-class="java.util.HashMap">
                <entry key="NGP_DuTrade_Gray" value="NGP_DuTrade_Gray" />
                <entry key="NGP_DuTrade_Light" value="NGP_DuTrade_Light" />
            </util:map>
        </property>

        <!--List of Supported Languages-->
        <!-- comment AR entry for a english only version-->
        <property name="supportedLanguages">
            <util:map map-class="java.util.HashMap">
                <entry key="EN" value="English|EN" />
                <!--<entry key="ZH" value="Chinese|ZH" />-->     <!--uncomment only for ZAI-->
                <entry key="AR" value="Arabic|AR" />    <!--comment for Religare and ZAI-->
            </util:map>
        </property>

        <!--demo user to be used in mix requests which validate the user-->
        <property name="demoUser">
            <util:map map-class="java.util.HashMap">
                <entry key="UID" value="90200" />
                <entry key="SID" value="BD584E3E-DB9B-9ECF-E040-007F01005D49" />
                <entry key="EXG" value="AMEX*,ADSM*,ASE*,DFM*,EUREX*,GTISEP*,GTISPM*,PFX*,LSE*,NSDQ*" />
            </util:map>
        </property>

        <property name="reportMasterData">
            <util:map map-class="java.util.HashMap">
                <entry key="mubasherTradeReportsPub" value="MT|38562"/>
                <!--<entry key="publishers" value="70304,94597,94599,94600,94601,94605,94606,94595,38562"/>-->
                <!--<entry key="publishers" value="86143,14629,14046,13196,94985"/>-->
                <entry key="reportsProvider" value="DFN|DFN"/>
                <entry key="reportCategoryMap">
                    <util:map map-class="java.util.HashMap">
                        <entry key="1|Market Commentary Reports" value="3|Post Session"/>
                        <entry key="2|Company Research"
                               value="4|Earnings Review,11|Valuation Report,12|Company Short Note,14|Country,15|Region"/>
                        <entry key="4|Macro-Economic Research" value="8|Macro Economic Research,16|Country,18|Region"/>
                        <entry key="6|Technical Analysis" value="20|Market,21|Stock"/>
                        <entry key="7|Regular Market Report" value="22|Daily,23|Weekly,24|Monthly,25|Quarterly"/>                    </util:map>
                </entry>
                <!--<entry key="reportCatTableGrps">-->
                <!--<util:map map-class="java.util.HashMap">-->
                    <!--&lt;!&ndash;<entry key="EARN" value="5|47,48"/>&ndash;&gt;-->
                    <!--<entry key="CHTP" value="5|49"/>-->
                    <!--<entry key="IPO" value="5|50"/>-->
                 <!--</util:map>-->
                <!--</entry>-->
            </util:map>
        </property>

        <property name="marketStatusWindowType" value="51"/>

        <property name="disableLoginPwdEncryption"  value="false"/>

        <!--enable Online IOM : true for Mubasher GLobal only-->
        <property name="enableOnlineIOM" value="true"/>

        <property name="priceWindowTypeMap" value="${app.price.windowType}"/>

        <property name="clientVersion" value="${app.clientVersion}"/>

        <property name="tradePulseInterval" value="240000"/>

        <!--List of news providers supported by the application-->
        <property name="supportedNewsProviders">
            <util:map map-class="java.util.HashMap">
                <entry key="DFN.INTL" value="DFN.INTL"/>
                <entry key="MUBASHER" value="MUBASHER"/>
                <entry key="Mubasher.AE" value="Mubasher.AE"/>
                <entry key="Mubasher.BH" value="Mubasher.BH"/>
                <entry key="MUBASHER.EG" value="MUBASHER.EG"/>
                <entry key="Mubasher.JO" value="Mubasher.JO"/>
                <entry key="MUBASHER.KW" value="MUBASHER.KW"/>
                <entry key="Mubasher.LB" value="Mubasher.LB"/>
                <entry key="Mubasher.LY" value="Mubasher.LY"/>
                <entry key="Mubasher.PS" value="Mubasher.PS"/>
                <entry key="MUBASHER.SA" value="MUBASHER.SA"/>
                <entry key="Mubasher.SY" value="Mubasher.SY"/>
                <entry key="N/MADN" value="N/MADN"/>
            </util:map>
        </property>

        <property name="widgetProtocolConfig">
            <util:map map-class="java.util.HashMap">
                <entry key="version" value="${app.widgetProtocolConfig.version}"/>
                <entry key="lastUpdatedDate" value="${app.widgetProtocolConfig.lastUpdatedDate}"/>
            </util:map>
        </property>

        <property name="priceRatio">
            <map>
                <entry>
                    <key>
                        <value type="java.lang.String">KWD</value>
                    </key>
                    <value type="java.lang.Double">.001</value>
                </entry>
                <entry>
                    <key>
                        <value type="java.lang.String">GBX</value>
                    </key>
                    <value type="java.lang.Double">.01</value>
                </entry>
            </map>
        </property>

        <property name="omsConfigurations">
            <util:map map-class="java.util.HashMap">
                <entry key="institutionId" value="<%= @institution_id %>"/>
                <entry key="masterAccountId" value="<%= @master_account_id %>"/>
            </util:map>
        </property>

        <property name="disableMubasherPlaylist" value="false"/>

    </bean>

</beans>
