<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--when multicomets are not used add only the 'Default' version-->
    <util:map id="cometURLConfig" map-class="java.util.HashMap">
        <entry key="Default" value="http://<%= @comet_url %>/riacometd"/>
    </util:map>

    <!--MIX config use default when multiple MIX services are not used-->
    <util:map id="mixURLConfig" map-class="java.util.HashMap">
        <entry key="Default" value-ref="defaultURLConfig"/>
    </util:map>

    <util:map id="defaultURLConfig" map-class="java.util.HashMap">
        <entry key="tradeSupport">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./tradeSupport"/>
            </bean>
        </entry>
        <entry key="priceAuth">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./auth"/>
            </bean>
        </entry>
        <entry key="priceCentral">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./pricecentral"/>
            </bean>
        </entry>
        <entry key="price">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./price"/>
            </bean>
        </entry>
        <entry key="chart">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="/jschart"/>
            </bean>
        </entry>
        <entry key="content">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./content"/>
            </bean>
        </entry>
        <entry key="profile">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./prof"/>
            </bean>
        </entry>
        <entry key="ngpVasContent">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./ngpvascontent"/>
            </bean>
        </entry>
        <entry key="advice">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="/adv"/>
            </bean>
        </entry>
        <entry key="dcms">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="./ngpvascontentdcm"/>
            </bean>
        </entry>
        <entry key="trade">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="/web"/>
            </bean>
        </entry>

        <entry key="dataUpdate">
            <bean class="com.directfn.ria.beans.URL">
                <property name="proxyURL" value="dataUpdater.p"/>
            </bean>
        </entry>

    </util:map>

    <util:map id="applicationURLConfig" map-class="java.util.HashMap">
        <entry key="HelpURL" value="http://<%= @app_url %>/help/default.htm"/>
        <entry key="agreementURL" value="http://<%= @app_url %>/DFNWEB/Agreement/"/>
        <entry key="externalWidgetURL" value="http://<%= @app_url %>/DUTradeRIA/widget.p"/>
        <entry key="externalWidgetProxy" value="http://<%= @app_url %>/DUTradeRIA/html/proxy.html"/>
        <entry key="mtsReportPath" value="http://<%= @app_url %>/stockreports/data"/>
        <entry key="logOutURL" value="http://<%= @app_url %>"/>
        <entry key="httpsSites" value="www.youtube.com"/>

        <!--Advice Registration Terms and Conditions URLs-->
        <entry key="adviceTermsEN" value="https://www.google.lk/"/>
        <entry key="adviceTermsAR" value="https://www.google.lk/"/>

        <entry key="widgetMasterURLS" value-ref="wMasterURL" />
    </util:map>

    <util:map id="wMasterURL" map-class="java.util.HashMap">
        <entry key="rp" value="http://static.mubasher.info/File.Radio_Media_File/20b6c05373bee0bdb15d26bc7927aa39.mp3|Channel1,http://static.mubasher.info/File.Radio_Media_File/17f416ad254eae29825ccee655a34d05.mp3|Channel2"/>
        <entry key="rss" value="http://online.wsj.com/xml/rss/3_7011.xml,http://www.bloomberg.com/tvradio/podcast/ontheeconomy.xml"/>
        <entry key="vp" value="rtmp://live.dtv.cubecdn.net/cnnturktv~FLP|CNNTurk3,http://85.111.3.55/cnbce~WMP|CNBC-E,mms://wm.bbc.net.uk/london/news/nb/londontv_16x9_nb.wmv~WMP|BBC News"/>
        <entry key="mmp" value="http://www.bbc.co.uk/arabic/meta/tx/bb/atv_live_16x9_bb.asx~WMP|BBC Arabic,http://www.watchfomny.com/Video/Arabic/Cctv-arabic/video.asx~WMP|CCTV Arabia,http://www.watchfomny.com/Video/United-kindom/Sky-News-United-Kindom/video.asx~WMP|Sky News,http://www.metafilegenerator.de/DWelle/tv-arabia/wmv/tv_mb_m.asx~WMP|DW-TV Arabia,http://www.watchfomny.com/Video/china/cctv-English/video.asx~WMP|CCTV,http://www.watchfomny.com/Video/Iran/Press-tv/video.asx~WMP|Press TV,http://www.watchfomny.com/Video/News/NBC-USA/NBC-USA.asx~WMP|NBC Mobile News"/>
    </util:map>
    
    
</beans>



